<a href="https://colab.research.google.com/github/Arouse972188/DA/blob/main/lecture_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема 2.1 Запуск Python. Первая программа

Вопросы:
- Особенности языка программирования Python; 
- Среды программирования.

## Общие сведения о Python 

C историей и общими сведения о языке Python можно ознакомиться [здесь](https://ru.wikipedia.org/wiki/Python).

Дополнительно можно посмотреть: 
1. [Официальный сайт Python](https://www.python.org/).
2. Лутц М. Изучаем Руthon. Том 1. - 5-е изд. - СПб.: ООО "Диалектика", 2019. - 832 с.

## Преимущества Python

- Универсальность;
- Поддержка множества парадигм программирования;
- Кроссплатформенность;
- Свободнораспространяемый и поддерживаемый;
- Прост в реализации и изучении.

## Интерпретатор Python

**Python** — интерпретируемый язык программирования.

Интерпретатор — это программа, которая конвертирует прогрммные инструкции, написанные на Python, в байт-код и выполняет их. Интерпретатор можно рассматривать как программный слой между исходным кодом и железом.

Существует 2 типа интерпретаторов:
- Простой интерпретатор. Он берет одну инструкцию, транслирует и сразу выполняет ее, а затем берет следующую инструкцию;
- Интерпретатор компилирующего типа. Это система из компилятора и интерпретатора. Компилятор переводит исходный код программы в промежуточное представление (байт-код), а интерпретатор (виртуальная машина) выполняет этот байт-код.

Интерпретаторы Python: CPython, Jython, PyPy.

Интерпретатор выполняет любую программу поэтапно:
1. **Инициализация**: после запуска программы Python-интерпретатор читает код, проверяет форматирование и синтаксис.
2. **Компиляция**: интерпретатор переводит исходные инструкции программы в байт-код (низкоуровневое, платформонезависимое представление исходного текста). Такая трансляция необходима в первую очередь для повышения скорости — байт-код выполняется в разы быстрее, чем исходные инструкции.
3. **Выполнение**: скомпилированный байт-код отправляется на виртуальную машину Python (PVM).

Программа на Python --- текстовый файл, содержащий операторы Python.

## Начало работы с Python

- интерактивный режим;
- файлы сценариев.

## Среды разработки

- текстовый редактор;
- [интегрированная среда разработки (IDE)](https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D1%80%D0%B5%D0%B4%D0%B0_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8).


**Интегрированная среда разработки (IDE)** относится к программному приложению, которое предлагает программистам широкие возможности разработки программного обеспечения. IDE чаще всего состоят из редактора исходного кода, средств автоматизации сборки и отладчика.

Возможности IDE, облегчающие разработку:
- подсветка синтаксиса;
- автозаполнение;
- отладка кода.

Примеры IDE:
**IDLE**, **PyCharm**, **Visual Studio Code**, Sublime Text, Vim, Atom, **Spyder**, **Jupyter**. 

Примечание: выделенными редакторами пользовался автор.

# Тема 2.2 Типы данных. Переменные. Инструкции и выражения. Арифметические операторы

## Типы данных

### Типы данных в Python

**Задачи занятия**
- рассмотреть типы данных;
- выбирать тип данных для задания требуемой структуры данных;
- задавать имеющиеся структуры данных, используя типы данных;
- обрабатывать заданные структуры данных.  

Данные в языке `Python` представлены объектами. Каждый объект имеет тип данных и значение.

**Терминология**

Объект в программировании — некоторая сущность в цифровом пространстве, обладающая определённым состоянием и поведением, имеющая определённые свойства (атрибуты) и операции над ними (методы) [[источник](https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_(%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)#:~:text=%D0%9E%D0%B1%D1%8A%D0%B5%CC%81%D0%BA%D1%82%20%D0%B2%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B8%20%E2%80%94%20%D0%BD%D0%B5%D0%BA%D0%BE%D1%82%D0%BE%D1%80%D0%B0%D1%8F%20%D1%81%D1%83%D1%89%D0%BD%D0%BE%D1%81%D1%82%D1%8C,%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8%20%D0%BD%D0%B0%D0%B4%20%D0%BD%D0%B8%D0%BC%D0%B8%20(%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D1%8B).)].

Тип данных (тип) — множество значений и операций над этими значениями [[источник](https://ru.wikipedia.org/wiki/%D0%A2%D0%B8%D0%BF_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85)].

**Типы данных в `Python`**

|Тип|Название|Комментарий|
|--:|:--|:--|
|`int`|Целые числа|Любое целое число без дробной части: `-10`, `1`, `100`, `99999`|
|`float`|Вещественные числа|Любое число с дробной частью (в том числе целое с дробной частью равной `0`): `-10.0`, `1.5`, `100.1`, `99999.0`|
|`bool`|Логический тип данных|Логические переменные могут принимать только два значения -- **True**(истина) или **False**(ложь)|
|`str`|Строки|Любой текст внутри одинарных или двойных кавычек: `'Пример строки с одинарными кавычками'` и `"100.1 - это_строка, а на число"`|
|`list`|Список|Последовательность элементов, разделенных между собой запятой и заключенных в квадратные скобки: `[1,2,'строка', [3,4,{'ключ':'значение'}]]`|
|`dict`|Словарь|Последовательность пар вида `'ключ':'значение'`, заключенная в фигурные скобки `{}`:  `{'Фамилия' : 'Строев', "Имя" : 'Сергей', ('Пол', 'Возраст') : ['М', 40]}`|
|`set`|Множество|Последовательность уникальных элементов, которые разделены между собой запятой и заключены в фигурные скобки `{}`: `{1, 2, 3, 'as'}`|
|`tuple`|Кортеж|Последовательность элементов, которые разделены между собой запятой и заключены в скобки `()`: `(1,2,3, [3,6])`|
|`NoneType`|Неопределенное значение|Объект со значением `None`|

В Python типы данных делятся на **изменяемые** и **неизменяемые**:

- изменяемые: списки (list), множества (set), словари (dict);
- неизменяемые: целые числа (int),  числа с плавающей точкой (float), логические переменные (bool), кортежи (tuple), строки (str).

## Переменные

Для доступа к объекту предназначены **переменные**. Переменная -- это ссылка на объект в памяти компьютера. Иными словами, переменная - это контейнер, которая хранит в себе информацию (текстовую, числовую, какие-то более сложные виды данных).

### Задание переменных

Синтаксис задания 

`имя_переменной` = `значение/тип переменной`

Ограничение на `имя_переменной`:
- чувствительность к регистру;
- состоять из латинских букв, цифр и знаков подчеркивания;
- имя переменной не может начинаться с цифры;
- встроенные идентификаторы / ключевые слова не использовать;
- **не рекомендуется** использовать символа подчеркивания `_` в начале имени переменной.

Список **встроенных идентификаторов** можно получить так
```python
import builtins
print(dir(builtins))
```

Список **ключевых слов** можно получить так
```python
>>> import keyword
>>> keyword.kwlist
```

$\Rightarrow$ Пример задания переменных

In [ ]:
integer_var = 5
float_var = 10.0 
string_var = 'hi'
boolean_var = True
list_var = []
list_var2 = list()

Комментарий: при инициализации переменной `integer_var` на уровне интерпретатора происходит следующее:

- создается целочисленный объект 5 (можно представить, что в этот момент создается ячейка и 5 кладется в эту ячейку);
- данный объект имеет некоторый идентификатор, значение: 5, и тип: целое число;
- посредством оператора `=` создается ссылка между переменной `integer_var` и целочисленным объектом 5 (переменная `integer_var` ссылается на объект 5).

### Проверка типов данных

|Метод|Комментарий|
|--:|:--|
|`type()`|Возвращает тип переменной|

Комментарий: полезные методы

|Метод|Комментарий|
|--:|:--|
|`isalnum()`|Состоит ли строка из букв или цифр|
|`isalpha`|Состоит ли строка из одних букв|
|`isdigit`|Состоит ли строка из одних цифр|

### Преобразование типов данных

|Метод|Комментарий|
|--:|:--|
|`int()`| преобразует аргумент в тип `int`|
|`float()`| преобразует аргумент в тип `float`|
|`bool()`| преобразует аргумент в тип `bool`|
|`list()`| преобразует аргумент в тип `list`|
|`set()`| преобразует аргумент в тип `set`|
|`tuple()`| преобразует аргумент в тип `tuple`|
|`str()`| преобразует аргумент в тип `str`|

## Инструкции и выражения

**Терминология** 

Инструкция в Python — это логическая инструкция, которую интерпретатор Python может прочесть и выполнить. Она может являться выражением или оператором присваивания в Python.

Выражение — один из типов инструкции, который содержит логическую последовательность чисел, строк, объектов и операторов Python.

Операторы позволяют произвести с данными определенные действия.

### Арифметические операторы

Производить операции над числами позволяют математические операторы.

|Оператор|Комментарий|
|--:|:--|
|`+`|сложение|
|`-`|вычитание|
|`*`|умножение|
|`/`|деление. Результатом деления всегда является вещественное число|
|`//`|деление с округлением вниз|
|`%`|остаток от деления|
|`**`|возведение в степень|

Больше арифметических операторов и возможностей в [модуле **math**](https://docs.python.org/3/library/math.html). На русском можно посмотреть [здесь](https://pythonworld.ru/moduli/modul-math.html).

$\Rightarrow$ Пример использования арифметических операторов

In [ ]:
a = 5
b = 10

In [ ]:
print('a+b =', a + b) #Сложение
print('b-a =', b - a) #Вычитание
print('b/a =', b / a) #Деление
print('b*a =', b * a) #Умножение
print('b//a=', b // a) #Целочисленное деление
print('b%3 =', b%3)  #Остаток от деления
print('b**2 =', b ** 2) #Возведение в степень 
print('a**0.5 =', 25 ** 0.5) #Взятие корня

a+b = 15
b-a = 5
b/a = 2.0
b*a = 50
b//a= 2
b%3 = 1
b**2 = 100
a**0.5 = 5.0

### Округление вещественных чисел

У нас часто возникает необходимость превратить вещественное число в целое ("округлить"). В питоне есть несколько способов это сделать, но, к сожалению, ни один из них не работает как наше привычное округление и про это всегда нужно помнить.

Большинство этих функций не реализованы в базовом наборе команд питона и для того, чтобы ими пользоваться, нам придется загрузить дополнительную библиотеку math, которая содержит всякие специальные функции для математических вычислений.

In [ ]:
import math # команда import загружает модуль под названием math

Модуль **math** устанавливается в рамках дистрибутива Anaconda, который мы использовали, чтобы установить Jupyter Notebook, поэтому его не нужно отдельно скачивать, а можно просто импортировать (загрузить в оперативную память текущей сессии). Иногда нужную библиотеку придется сначала установить на компьютер с помощью команды 

```python
!pip install -название модуля- и только потом импортировать.
```

Самый простой способ округлить число - применить к нему функцию int.

In [ ]:
int(2.6)

2

Обратите внимание, что такой метод просто обрубает дробную часть (значения выше 0.5 не округляются в сторону большего числа).

In [ ]:
print(int(2.6))
print(int(-2.6))

2
-2

Округление "в пол" из модуля math округляет до ближайшего меньшего целого числа.

In [ ]:
print(math.floor(2.6)) # чтобы использовать функцю из дополнительного модуля - 
                        # нужно сначала написать название этого модуля и через точку название функции
print(math.floor(-2.6))

2
-3

Округление "в потолок" работает ровно наоброт - округляет до ближайшего большего числа, независимо от значения дробной части.

In [ ]:
print(math.ceil(2.6))
print(math.ceil(-2.6))

3
-2

В самом питоне есть еще функция round(). Вот она работает почти привычно нам, если бы не одно "но"...

In [ ]:
print(round(2.2))
print(round(2.7))
print(round(2.5)) # внимание на эту строку
print(round(3.5))

2
3
2
4

Неожиданно? Тут дело в том, что в питоне реализованы не совсем привычные нам правила округления чисел с вещественной частью 0.5 - такое число округляется до ближайшего четного числа: 2 для 2.5 и 4 для 3.5.

### Другие операторы

**Операторы присваивания**

|Оператор|Комментарий|
|--:|:--|
|`=`|присваивает переменной значение|
|`+=`|увеличивает значение переменной на указанную величину|
|`-=`|уменьшает значение переменной на указанную величину|
|`*=`|умножает значение переменной на указанную величину|
|`/=`|делит значение переменной на указанную величину|
|`//=`| деление с округлением вниз и присваиванием|
|`%=`| деление по модулю и присваивание|
|`**=`| возведение в степень и присваивание|

**Операторы сравнения**

|Оператор|Комментарий|
|--:|:--|
|`==`|равно|
|`!=`|не равно|
|`<`|меньше|
|`>`|больше|
|`<=`|меньше или равно|
|`>=`|больше или равно|
|`in`|проверка на вхождение в последовательность|
|`not in`|проверка на невхождение в последовательность|
|`is`|проверяет, ссылаются ли две переменные на один и тот же объект|
|`is not`|проверяет, ссылаются ли две переменные на разные объекты|

Несколько логических выражений можно объединить в одно большое с помощью следующих операторов.

|Оператор|Комментарий|
|--:|:--|
|`and`|логическое `И`|
|`or`| логическое `ИЛИ`|

**Приоритет операторов сравнения**

1. <, >, <=, >=, ==, !=, <>, is, is not, in, not in.
2. not — логическое отрицание.
3. and — логическое И.
4. or — логическое ИЛИ.

**Операторы для работы с последовательностями**
|Оператор|Комментарий|
|--:|:--|
|`+`|конкатенация|
|`*`|повторение|
|`in`|проверка на вхождение в последовательность|
|`not in`|проверка на невхождение в последовательность|

**Двоичные операторы**

**Приоритет выполнения операторов**

Перечислим операторы в порядке убывания приоритета:
1. $-x$, $+x$, $~x$, $\star \star$ — унарный минус, унарный плюс, двоичная инверсия, возведение в степень. Если унарные операторы расположены слева от оператора $\star \star$, то возведение в степень имеет больший приоритет, а если справа — то меньший. Например, выражение:
$$-10 \star \star -2$$
эквивалентно следующей расстановке скобок:
$$-(10 \star \star (-2));$$
2. *, %, /, // — умножение (повторение), остаток от деления, деление, деление с округлением вниз;
3. $+$, $–$ — сложение (конкатенация), вычитание;
4. <<, >> — двоичные сдвиги;
5. & — двоичное `И`;
6. ^ — двоичное исключающее `ИЛИ`;
7. | — двоичное `ИЛИ`;
8. =, +=, -=, *=, /=, //=, %=, **= — присваивание.

## Работа со строками

### Работа со строками

Строка в Python это:
- последовательность символов, заключенная в кавычки;
- неизменяемый упорядоченный тип данных.

*Сказать*
- операции (+,*);
- индексация (0,-1);
- срезы (срез выполняется по второе число, не включая его; шаг среза);
- организация ввода (input())

Полезные методы работы со строками 

|Метод|Комментарий|
|--:|:--|
|`len()`||
|`.join()`||
|`.replace`||
|`.split()`||
|`.strip()`||
|`.upper(), .lower(), .swapcase(), .capitalize()`||
|`.find()`||
|`.count`||

### Форматирование строк (string formatting)
Напишем программу, которая выводит на экран введенные данные, чтобы пользователь мог их проверить.

Пусть для начала пользователь вводит свое имя и возраст.

In [ ]:
name = input("Введите Ваше имя: ")
age = int(input("Введите Ваш возраст: ")) # возраст будет целочисленным

Введите Ваше имя: Сергей
Введите Ваш возраст: 40

Теперь выведем на экран сообщение вида

`Ваше имя: `имя`. Ваш возраст: `возраст`.`

Но прежде, чем это сделать, поймем, какого типа будут значения, которые мы будем подставлять в шаблон. Имя (переменная name) – это строка (string), а возраст (переменная age) – это целое число (integer).

In [ ]:
result = "Ваше имя: %s. Ваш возраст: %i." % (name, age)
print(result)

Ваше имя: Сергей. Ваш возраст: 40.

Что за таинственные %s и %i? Все просто: оператор % в строке указывает место, на которое будет подставляться значение, а буква сразу после процента – сокращённое название типа данных (s – от string и i – от integer). Осталось только сообщить Python, что именно нужно подставлять – после кавычек поставить % и в скобках перечислить названия переменных, значения которых мы будем подставлять.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %i.")

Ваше имя: %s. Ваш возраст: %i.

Важно помнить, что если мы забудем указать какую-то из переменных, мы получим ошибку (точнее, исключение): Python не будет знать, откуда брать нужные значения.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %i." % (name))

TypeError: ignored

Кроме того, создавая такие текстовые шаблоны, нужно обращать внимание на типы переменных, значения которых мы подставляем.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %s." % (name, age)) # так сработает

Ваше имя: Сергей. Ваш возраст: 40.

In [ ]:
print("Ваше имя: %i. Ваш возраст: %s." % (name, age)) # а так нет

TypeError: ignored

В первом случае код сработал: Python не очень строго относится к типам данных, и поэтому он легко может превратить целочисленный возраст в строку (два %s вместо %s и %i не является помехой). Во втором случае все иначе. Превратить строку, которая состоит из букв (name) в целое число никак не получится, поэтому Python справедливо ругается.

А что будет, если мы будем подставлять не целое число, а дробное, с плавающей точкой? Попробуем!

In [ ]:
height = float(input("Введите Ваш рост (в метрах): "))
height

Введите Ваш рост (в метрах): 1.78

1.78

In [ ]:
print("Ваш рост: %f м." % height) # f - от float

Ваш рост: 1.780000 м.

По умолчанию при подстановке значений типа float Python выводит число с шестью знаками после запятой. Но это можно исправить. Перед f нужно поставить точку и указать число знаков после запятой, которое мы хотим:

In [ ]:
print("Ваш рост: %.2f м." % height) # например, два

Ваш рост: 1.78 м.

In [ ]:
print("Ваш рост: %.1f м. " % height) # или один

Ваш рост: 1.8 м.

В случае, если указанное число знаков после запятой меньше, чем есть на самом деле (как в ячейке выше), происходит обычное арифметическое округление.

Рассмотренный выше способ форматирования строк – не единственный. Он довольно стандартный, но при этом немного устаревший. В Python 3 есть другой способ ‒ форматирование с помощью метода .format(). Кроме того, в Python 3.6 и более поздних версиях появился еще более продвинутый способ форматирования строк ‒ f-strings (formatted string literals).

F-strings очень удобны и просты в использовании: вместо % и сокращённого названия типа в фигурных скобках внутри текстового шаблона нужно указать название переменной, из которой должно подставляться значение, а перед всей строкой добавить f, чтобы Python знал, что нам нужна именно f-string.

In [ ]:
print(f"Ваше имя: {name}. Ваш возраст: {age}. Рост: {height:.2f}")

Ваше имя: Сергей. Ваш возраст: 40. Рост: 1.78

Альтерантивой такого кода будет следующий синтаксис. Здесь переменные вставятся в порядке "упоминания" в строке.

In [ ]:
print("Ваше имя: {}. Ваш возраст: {}".format(name, age))

Ваше имя: Сергей. Ваш возраст: 40

Форматирование дробей добавляем так.

In [ ]:
print("Ваше имя: {}. Ваш возраст: {}. Рост: {:.2f}".format(name, age, height))

Ваше имя: Сергей. Ваш возраст: 40. Рост: 1.78

Если указали формат переменной (.2f, например, ожидает float), то следим за порядком.

In [ ]:
print("Ваше имя: {}. Ваш возраст: {}. Рост: {:.2f}".format(age, height, name))

ValueError: ignored

Порядок заполнения можно указывать с помощью нумерации. Одну и тоже переменную можно использовать несколько раз.

In [ ]:
print("Ваше имя: {2}. Ваш возраст: {0}. Рост: {1:.2f}. Все верно, {2}?".format(age, height, name))

Ваше имя: Сергей. Ваш возраст: 40. Рост: 1.78. Все верно, Сергей?

## Работа со списком

### Работа со списком

Список в Python это:
- последовательность элементов, разделенных между собой запятой и заключенных в квадратные скобки;
- изменяемый упорядоченный тип данных.

Сказать:
- задание списка;
- индексация (можно изменять), срезы.

Полезные методы работы со списками

|Метод|Комментарий|
|--:|:--|
|`len()`||
|`.append()`||
|`.pop(индекс)`||
|`.remove(элемент)`||
|`.()`||
|`.upper(), .lower(), .swapcase(), .capitalize()`||
|`.find()`||
|`.count`||

In [ ]:
students = [1, 2, 3, 3, 4, 
             5, 66, 
             7, 7]
print(students)
print(type(students))

[1, 2, 3, 3, 4, 5, 66, 7, 7]
<class 'list'>

In [ ]:
students.append('понедельник')
students

['привет', 2, 3, 3, 4, 5, 66, 7, 7, 'список', 'список', 'понедельник']

In [ ]:
lst_number = [1, 2, 3, 4, 1, 0]
lst_new = list()
lst_new.append(lst_number[0])
lst_new.append(lst_number[1])
lst_new.append(lst_number[4])
lst_new.append(lst_number[5])

lst_new

[1, 2, 1, 0]

In [ ]:
#lst_new = list()
for i in lst_number:
    if i < 3:
        lst_new.append(i)
lst_new

[1, 2, 1, 0, 1, 2, 1, 0]

Пустой список можно создать двумя способами - оператором [] и функцией list().

In [ ]:
print([])
print(list())

[]
[]

In [ ]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [ ]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [ ]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [ ]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Элементы списков нумеруются, начиная с 0. Мы можем получить доступ к элементу списка по его индексу.

In [ ]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-2]) # последний элемент

Ivan Ivanov
Tatiana Sidorova
Tatiana Sidorova

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [ ]:
x = 'слово'
print(x[0])
print(x[-1])

с
о

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [ ]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

3
5

Но, в отличие от строк, список можно изменить.

In [ ]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [ ]:
students[0] = 'Sergey Stroev'
students

['Sergey Stroev', 'Tatiana Sidorova', 'Maria Smirnova']

In [ ]:
string = 'ololololol'
string[1] = 'a'

TypeError: ignored

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента in и not in. Возвращает True или False.

In [ ]:
### students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
# print('Ivan Ivanov' in students)

n = [1,2,3,4]
x = 500
x not in n
# print('Petr' not in students[2])
# print(2 in students)

True

Способ расширить список - метод .append(), который добавляет аргумент в список в качестве последнего элемента.

In [ ]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5)
print(lst)


lst += [6] # эквивалентное append выражение
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

Удалить элемент из списка можно с помощью метода .remove() (без возвращения удаленного элемента) или .pop (с возвращением удаленного элемента).

In [ ]:
lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', 'cat', 5, 6]

In [ ]:
x = lst.pop(0) # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
print(x)

[1, 2, 3, 4, 'dog', 'cat', 5]
0

Поиском в списках занимается метод .index(), который вернет индекс объекта, переданного в качестве аргумента.

In [ ]:
lst.append('dog')

In [ ]:
lst

[1, 2, 3, 4, 'dog', 'cat', 5, 'dog']

In [ ]:
print(lst.index('dog'))

4

In [ ]:
print(lst.count('dog'))

2

In [ ]:
# находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту

5
dog

Если говорить еще о полезных методах, то это .count(), который подсчитывает количество элементов и .reverse(), который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [ ]:
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

In [ ]:
 # считаем количество 'dog' в списке
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

1
[5, 'dog', 4, 3, 2, 1, 0]

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
lst_new

[1, 2, 1, 0, 1, 2, 1, 0]

In [ ]:
lst_new[:5:3]

[1, 0]

#### Сортировки

Отдельно следует рассказать про метод **sort()**. Метод производит сортировку списка.
Задачи сортировки - очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В Python есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод **list.sort()** - как раз, один из таких случаев.

In [ ]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [ ]:
test_list.sort(reverse = True)

In [ ]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод **list.sort()** упорядочил элементы списка test_list
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [ ]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод **list.sort()** изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода "**sort()**", наш список "test_list" изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же - в случае неизменяемого типа данных (например, кортежа или строки) - 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция **sorted()**

In [ ]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Так как sorted() функция, а не метод, то будет работать и с другими типами данных.

In [ ]:
print(sorted('something'))

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

In [ ]:
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него

eghimnost

У функции sorted(), как и у метода list.sort() есть параметр key, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [ ]:
test_string = 'A string With upper AND lower cases'

In [ ]:
print(sorted(test_string.split())) # заглавные буквы получили приоритет над строчными

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [ ]:
print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

#### Функция map()

Функция map() берет функцию и последовательность и применяет эту функцию ко всем ее элементам (map() всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [ ]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо
print(list(map(bool, [9, None, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

<map object at 0x1090f5290>
[True, False, True, True, True, False]

#### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [ ]:
print('-'.join(list(map(int,input().split()))))

1 2 3 4

TypeError: sequence item 0: expected str instance, int found

In [ ]:
phone = list(map(int, input().split())) # получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)
print('-'.join(list(map(str, phone)))) # преобразуем массив чисел в массив строк и склеиваем через дефис

[8, 913, 899, 99, 99]
8-913-899-99-99

Также, если нет задачи сохранить результат в переменную в виде строки, вместо join() можно использовать распаковку. 
Мы ставим оператор * перед списком, и, например, функция print() будет воспринимать его не как список, а как последовательность объектов.

In [ ]:
print(phone, sep='-') # не работает, получили список
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')

[8, 913, 899, 99, 99]
8-913-899-99-99
8-913-899-99-99

## Работа со словарем

### Работа со словарем

Словарь состоит из набора ключей и соответствующих им значений. Значения могут быть любыми объектами (также как и в списке, хранить можно произвольные объекты). А ключи могут быть почти любыми объектами, но только неизменяемыми. В частности числами, строками, кортежами. Список или множество не могут быть ключом.

Одному ключу соответствует ровно одно значение. Но одно и то же значение, в принципе, можно сопоставить разным ключам.

In [ ]:
dict_example = {
    'name' : 'Сергей',
    1 : [1,2,3,'Привет']
    }

In [ ]:
dict_example['2'] = 'нет спешки'
dict_example

{1: [1, 2, 3, 'Привет'], '2': 'нет спешки', 'name': 'Сергей'}

In [ ]:
a = dict()
type(a)

dict

In [ ]:
a['chapter1'] = 'ghfdlksgrjkasgdjkagrdjksargs'
a

{'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs'}

In [ ]:
a[1] = 'hrjegrejk'
a

{1: 'hrjegrejk', 'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs'}

In [ ]:
x = (3,4,5)
a[x] = 'hrjekwslerw'
a

{(3, 4, 5): 'hrjekwslerw',
 1: 'hrjegrejk',
 'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs'}

In [ ]:
x = (1,2,3,'str')
a[x] = 'fuidaslt'

In [ ]:
a

{'chapter1': 'ghfdlksgrjkasgdjkagrdjksargs',
 1: 'hrjegrejk',
 (3, 4, 5): 'hrjekwslerw',
 (1, 2, 3, 'str'): 'fuidaslt'}

In [ ]:
a = dict()
a[(2,3)] = [2,3] # кортеж может быть ключом, потому что он неизменямый
a

{(2, 3): [2, 3]}

In [ ]:
b = dict()
b[[2,3]] = [2,3] # а список уже нет, получим ошибку
print(b)

TypeError: unhashable type: 'list'

#### Создание словаря
В фигурных скобках через двоеточие ключ:значение

In [ ]:
d = dict()
d

{}

In [ ]:
d1 = {"кот": 10, "и": 100, "Тейлора": 2}
print(d1)

{'кот': 10, 'и': 100, 'Тейлора': 2}

In [ ]:
d1["кот"]

10

Через функцию dict(). Обратите внимание, что тогда ключ-значение задаются не через двоеточие, а через знак присваивания. А строковые ключи пишем без кавычек - по сути мы создаем переменные с такими названиями и присваиваим им значения (а потом функция dict() уже превратит их в строки).

In [ ]:
d2 = dict(кот=10, и=100, Тейлора=2)
print(d2) # получили тот же результат, что выше

{'кот': 10, 'и': 100, 'Тейлора': 2}

И третий способ - передаем функции dict() список списков или кортежей с парами ключ-значение.

In [ ]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)]) # перечисление (например, список) tuple
print(d3)

{'кот': 10, 'и': 100, 'Тейлора': 2}

Помните, когда мы говорили про списки, мы обсуждали проблему того, что важно создавать именно копию объекта, чтобы сохранять исходный список. Копию словаря можно сделать так

In [ ]:
d4 = dict(d3) # фактически, копируем dict который строчкой выше
print(d4)

{'кот': 10, 'и': 100, 'Тейлора': 2}

In [ ]:
d1 == d2 == d3 == d4 # Содержание всех словарей одинаковое

True

Пустой словарь можно создать двумя способами.

In [ ]:
d2 = {} # это пустой словарь (но не пустое множество)
d4 = dict()
print(d2, d4)

{} {}

In [ ]:
x = {}
type(x)

dict

#### Операции со словарями

Как мы уже говорили, словари неупорядоченные структуры и обратиться по индексу к объекту уже больше не удастся.

In [ ]:
d1[1] # выдаст ошибку во всех случах кроме того, если в вашем словаре вдруг есть ключ 1

KeyError: 1

Но можно обращаться к значению по ключу.

In [ ]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)])
print(d1['кот'])

10

In [ ]:
d1[1]

KeyError: 1

Можно создать новую пару ключ-значение. Для этого просто указываем в квадратных скобках название нового ключа.

In [ ]:
d1[1] = 'test'
print(d1[1]) # теперь работает!

test

Внимание: если элемент с указанным ключом уже существует, новый с таким же ключом не добавится! Ключ – это уникальный идентификатор элемента. Если мы добавим в словарь новый элемент с уже существующим ключом, мы просто изменим старый – словари являются изменяемыми объектами.

In [ ]:
d3 = dict([("кот", 10), ("и", 100), ("Тейлора", 2)])
d1["кот"] = 11 # так же как в списке по индексу - можно присвоить новое значение по ключу
d1

{'Тейлора': 2, 'и': 100, 'кот': 11}

In [ ]:
d1["кот"] += 1 # или даже изменить его за счет арифметической операции
d1

{'Тейлора': 2, 'и': 100, 'кот': 12}

А вот одинаковые значения в словаре могут быть.

In [ ]:
d1['собака'] = 12
print(d1)

{'кот': 12, 'и': 100, 'Тейлора': 2, 'собака': 12}

Кроме обращения по ключу, можно достать значение с помощью метода .get(). Отличие работы метода в том, что если ключа еще нет в словаре, он не генерирует ошибку, а возвращает объект типа None ("ничего"). Это очень полезно в решении некоторых задач.

In [ ]:
d1

{'кот': 13, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

In [ ]:
print(d1['кот'])

In [ ]:
print(d1.get("ктоо")) # вернут None

None

Удобство метода .get() заключается в том, что мы сами можем установить, какое значение будет возвращено, в случае, если пары с выбранным ключом нет в словаре. Так, вместо None мы можем вернуть строку Not found, и ломаться ничего не будет:

In [ ]:
print(d1.get("ктоо", 'Not found')) # передаем вторым аргументом, что возвращать
print(d1.get("ктоо", False)) # передаем вторым аргументом, что возвращать

Not found
False

Также со словарями работают уже знакомые нам операции - проверка количества элементов, проверка на наличие объектов.

In [ ]:
d1

In [ ]:
print(d1)
print("кот" in d1) # проверка на наличие ключа
print("ктоо" not in d1) # проверка на отстуствие ключа

{'кот': 13, 'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}
True
True

Удалить отдельный ключ или же очистить весь словарь можно специальными операциями.

In [ ]:
del d1["кот"]

In [ ]:
d1

{'и': 100, 'Тейлора': 2, 1: 'test', 'собака': 13}

In [ ]:
d1.clear()
d1

{}

In [ ]:
del d1["кот"] # удалить ключ со своим значением
print(d1)
d1.clear() # удалить все
print(d1)

{'и': 100, 'Тейлора': 2, 1: 'test'}
{}

In [ ]:
d1 = dict([("кот", 10), ("и", 10), ("Тейлора", 2)])

У словарей есть три метода, с помощью которых мы можем сгенерировать список только ключей, только значений и список пар ключ-значения (на самом деле там несколько другая структура, но ведет себя она очень похоже на список).

In [ ]:
print(d1.values()) # только значения
print(d1.keys()) # только ключи
print(d1.items()) # только ключ-значение

dict_values([10, 10, 2])
dict_keys(['кот', 'и', 'Тейлора'])
dict_items([('кот', 10), ('и', 10), ('Тейлора', 2)])

Ну, и раз уж питоновские словари так похожи на обычные, давайте представим, что у нас есть словарь, где все слова многозначные. Ключом будет слово, а значением ‒ целый список.

In [ ]:
my_dict = {'swear' : {'swear' : ['клясться', 'ругаться'], 'dream' : ['спать', 'мечтать']}, 'dream' : ['спать', 'мечтать']}

По ключу мы получим значение в виде списка:

In [ ]:
my_dict['swear']['swear'][0]

'клясться'

Так как значением является список, можем отдельно обращаться к его элементам:

In [ ]:
my_dict['swear'][0] # первый элемент

'клясться'

Можем пойти дальше и создать словарь, где значениями являются словари! Например, представим, что в некотором сообществе проходят выборы, и каждый участник может проголосовать за любое число кандидатов. Данные сохраняются в виде словаря, где ключами являются имена пользователей, а значениями – пары *кандидат-голос*.

In [ ]:
votes = {'user1': {'cand1': '+', 'cand2': '-'},
         'user2' : {'cand1': 0, 'cand3' : '+'}} # '+' - за, '-' - против, 0 - воздержался

In [ ]:
votes

{'user1': {'cand1': '+', 'cand2': '-'}, 'user2': {'cand1': 0, 'cand3': '+'}}

По аналогии с вложенными списками по ключам мы сможем обратиться к значению в словаре, который сам является значением в `votes` (да, эту фразу нужно осмыслить):

In [ ]:
votes['user1']['cand1'] # берем значение, соответствующее ключу user1, в нем – ключу cand1

'+'

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Через занятие мы с вами начнем работать с условными операторами и циклом for, и тогда мы поговорим об особенностях обращения к значениям в цикле и сортировок словарей.

In [ ]:
arters = {
    "Т. Круз" : ['Миссия невыполнима 1', 'Миссия невыполнима 2',  'Миссия невыполнима 4'],
    "В. Машков" : ['Идиот',  'Миссия невыполнима 4']
}

In [ ]:
len(arters["Т. Круз"])

3

In [ ]:
len(arters["В. Машков"])

2

In [ ]:
arters.keys()

dict_keys(['Т. Круз', 'В. Машков'])

In [ ]:
arters.values()

dict_values([['Миссия невыполнима 1', 'Миссия невыполнима 2', 'Миссия невыполнима 4'], ['Идиот', 'Миссия невыполнима 4']])

In [ ]:
lst_new = list()
for i in arters.keys():
    print(arters[i])
    lst_new.append(len(arters[i]))

['Миссия невыполнима 1', 'Миссия невыполнима 2', 'Миссия невыполнима 4']
['Идиот', 'Миссия невыполнима 4']

In [ ]:
dict_temp = dict(zip(lst_new, arters.keys())) 
dict_temp

{2: 'В. Машков', 3: 'Т. Круз'}

In [ ]:
a = sorted(lst_new, reverse = True)
dict_temp[a[0]]

'Т. Круз'

In [ ]:
for i in a:
    print(dict_temp[i])

Т. Круз
В. Машков

In [ ]:
()lst_new

[3, 2]

## Работа с множеством

In [ ]:
x = set()
type(x)

set

In [ ]:
x = (4, 5, 6)
print(set(x)) # передаем список

{4, 5, 6}

In [ ]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(set()) # передаем tuple
print(set(range(10)))
print(set()) # пустое множество

set()
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()


Другой способ создать множество - это перечислить его элементы в фигурных скобках (список - в квадратных, кортеж в круглых, а множество - в фигурных)

In [ ]:
primes = {2, 3, 5, 7}
animals = {"cat", "dog", "horse", 'cat'}

print(primes)
print(animals)

{2, 3, 5, 7}
{'cat', 'horse', 'dog'}

In [ ]:
x = [1,2,3,2,2,2,2,2,2,2,'dog',1]
print(set(x))

{1, 2, 3, 'dog'}

Кстати, обратите внимание, что множество может состоять только из уникальных объектов. Выше множество animals включает в себя только одну кошку несмотря на то, что в конструктор мы передали 'cat' два раза. Преобразовать в список в множество - самый простой способ узнать количество уникальных объектов.

Со множествами работает почти всё, что работает с последовательностями (но не работают индексы, потому что элементы не хранятся упорядоченно).

In [ ]:
print(len(primes))

4

In [ ]:
primes = {1,11,22,34,5}
11 in primes

True

In [ ]:
animals = {"cat", "dog", "horse", 'cat'}
"cow" in animals

False

In [ ]:
 # длина
print(11 in primes) # проверка на наличие элемента in хорошо и быстро работает для множеств
print("cow" in animals)

True
False

Все возможные операции с множествами: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

Отдельно мы посмотрим на так называемые операции над множествами. Если вы знаете круги Эйлера, то помните как различают объекты множеств - пересечение, объекты, которые принадлежат множеству а, но не принадлежат b и так далее. Давайте посмотрим, как эти операции реализовани в питоне.

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 3}

In [ ]:
print(c <= a)

True

In [ ]:
print(c >= a)

False

In [ ]:
print(a | b)

{1, 2, 3, 4, 5, 6}

In [ ]:
a.intersection(b)

{3, 4}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
a^b

{1, 2, 5, 6}

In [ ]:
b.difference(a)

{5, 6}

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 3}

 # проверка на подмножество (с подномжество a)
print(c <= b) # не подмножество, т.к. в b нет 2 
print(a >= c) 
print(a | b) # объединение a.union(b) aka a+b
print(a & b) # пересечение a.intersection(b)
print(a - b) # разность множеств (все что в a, кроме b) a.difference(b)
print(a ^ b) # симметрическая разность множеств (объединение без пересечения) 

c = a.copy() # копирование множества, или set(a)
print(c)

True
False
True
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
{1, 2, 3, 4}

In [ ]:
a = {1, 2, 3, 4}
c = a.copy()
c

{1, 2, 3, 4}

In [ ]:
print(c.issubset(a)) # c <= a 
print(c.isdisjoint(a)) # a и c не пересекаются?
print(a.issuperset(c)) # a включает в себя с как подмножество

True
False
True

In [ ]:
s = {1,2,3}
s

{1, 2, 3}

In [ ]:
s.add(10)
s

{1, 2, 3, 10}

In [ ]:
s.add(10)
s

{1, 2, 3, 10}

In [ ]:
s.discard(500)
s

{1, 2, 3, 10}

In [ ]:
x = s.pop()
print(s)
print(x)

{1, 2, 3}
10

In [ ]:
s

{1, 2, 3}

In [ ]:
s.clear()
s

set()

Предыдущие операции не меняли множества, создавали новые. А как менять множество:

In [ ]:
s = {1, 2, 3}
s.add(10) # добавить
print(s) # обратите внимание, что порядок элементов непредсказуем
s.remove(1) # удаление элемента
s.discard(1) # аналогично, но не будет ошибки, если вдруг такого элемента нет в множестве
print(s)
x = s.pop() # удаляет и возвращает один произвольный элемент множества (можем сохранить его в переменную)
print(s)
print(x)
s.clear() # очистить
print(s)

{10, 1, 2, 3}
{10, 2, 3}
{2, 3}
10
set()

In [ ]:
x = 1
x +=1 
x

2

In [ ]:
s = {1,2}
# s |= {10, 20}
s = s|{10, 20}
s

{1, 2, 10, 20}

Как мы сокращали арифметические операции раньше (например, +=), так же можно сокращать операции над множествами.

In [ ]:
s |= {10, 20} # s = s | {10, 20} # объединение множества s с {10,20}
print(s)
# s ^=, s &= и т.п.

{10, 20}

## Работа с кортежем

### Работа с кортежем

Кортежи очень похожи на списки.

In [ ]:
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

Пустой кортеж можно создать с помощью оператора () либо функции tuple.

In [ ]:
print(())
print(tuple())

()
()

In [ ]:
x = tuple()
x

()

In [ ]:
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

In [ ]:
student[1] = 2002

TypeError: 'tuple' object does not support item assignment

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [ ]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [ ]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [ ]:
print(student[2][1]) # получили вторую оценку

7

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Тема 2.3 Функции. Параметры и аргументы
<a class="anchor" id="enclus1"></a>

## Функции 

**Терминология:**

Функция — это фрагмент кода, который можно вызвать из любого места программы.

Фунция - способ группирования набора операторов, позволяющий выполнить их более одного раза.

Сигнатурой функции называется имя функции и список ее аргументов.

Преимущества использования функций:
- декомпозиция сложной задачи на простые части;
- многократное использование кода.

Синтаксис задания функции:
```python
def имя_функции(аргумент_1, аргумент_2,..., аргумент_N):
  операторы -- тело функции
  return результат_работы_функции
```

**Сигнатура функции**: 
- оператор `def` создает объект функции и присваивает его имени функции;
- имя функции;
- аргументы функции, иначе говоря входные данные, необходимые для работы функции.

Имя функции должно быть уникальным идентификатором (см. выше требования к имени переменной). 

Аргументы (параметры) функции указываются после имени функции в круглых скобках. Аргументы перечисляются через запятую. Если функция не принимает аргументов, то указываются только круглые скобки. После круглых скобок ставится двоеточие. Именам аргументов присваиваются объекты, передаваемые в круглых скобках при вызове функции. Параметры функции позволяют применять одну и ту же логику к разным входным данным.

**Тело функции**

Тело функции содержит программные инструкции, которые должны выполняться. **Следует помнить**, что инструкции тела функции пишутся с **отступом от левого края строки**. Размер одно отступа — 4 пробела ([PEP 8](https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html#section-4)).

Если тело функции не содержит инструкций, то внутри ее необходимо разместить оператор `pass`, который не выполняет никаких действий. Этот оператор удобно использовать на этапе отладки программы, когда только определяется функция, а тело реализуется позже.   
```python 
def name_func():
  pass
```
Область видимости: все, что происходит в функции, остается внутри нее. Например, все переменные, которые создаются во время работы функции, окажутся недоступны извне.
```python
x = 10  
def y(x):
  x = x + 2
  return x
print(y(2), x)
```
Во избежании путаницы так делать (имена переменных) не рекомендуется.

**Возвращаемое значение**

Оператор `return` позволяет вернуть из функции какое-либо значение в качестве результата. Обратите внимание, что после исполнения этого оператора выполнение функции будет остановлено, и последующие инструкции не будут выполнены.

В общем случае оператора `return` может не быть. В этом случае выполняются все инструкции тела функции, а в качестве результата возвращается значение `None`.

**Вызов функции**

После задания (определения) функцию функцию можно вызывать (использовать). Для вызова функции указывается ее имя и аргументы (при наличии).   


*Сказать* 
- про `global`.
```python
x = 10  
def y(z):
  global x
  x = z
  return print(x, z)
```
- про порядок объявления функций;
- про необязательные параметры -- в определении функции необходимо присвоить этому параметру начальное значение;
- cопоставление по позиции/ключам;
- проивольное число параметров (* и **).

# Тема 2.4   Объектно-ориентированное программирование. Классы. Работа с классами. Условный оператор. Циклы

## Объектно-ориентированное программирование

**Терминология**

Объектно-ориентированное программирование (ООП) — это способ организации программы, позволяющий использовать один и тот же код многократно.

Объектно-ориентированное программи́рование (ООП) — методология программирования, основанная на представлении программы в виде совокупности взаимодействующих объектов, каждый из которых является экземпляром определённого класса, а классы образуют иерархию наследования. [источник](https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BD%D0%BE-%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)

Ключевым понятием ООП является класс — сложный тип данных, включающий набор
переменных и функций для управления значениями, хранящимися в этих переменных.

Переменные называют *атрибутами* или *свойствами*, а функции — *методами*.

Класс является позволяет создать неограниченное количество экземпляров, основанных на этом классе.


Три ключевых слова ООП: 
- Инкапсуляция

Под инкапсуляцией понимается сокрытие деталей реализации, данных и т.п. от внешней стороны. Например, можно определить класс `холодильник`, который будет содержать следующие данные: `производитель`, `объем`, `количество камер хранения`, `потребляемая мощность` и т.п., и методы: `открыть/закрыть холодильник`, `включить/выключить`, но при этом реализация того, как происходит непосредственно включение и выключение пользователю вашего класса не доступна, что позволяет ее менять без опасения, что это может отразиться на использующей класс «холодильник» программе. При этом класс становится новым типом данных в рамках разрабатываемой программы. Можно создавать переменные этого нового типа, такие переменные называются объекты.

- Наследование

Под наследованием понимается возможность создания нового класса на базе существующего. При этом класс потомок будет содержать те же атрибуты и методы, что и базовый класс, но при этом его можно (и нужно) расширять через добавление новых методов и атрибутов.

Примером базового класса, демонстрирующего наследование, можно определить класс `автомобиль`, имеющий атрибуты: масса, мощность двигателя, объем топливного бака и методы: завести и заглушить. У такого класса может быть потомок – `грузовой автомобиль`, он будет содержать те же атрибуты и методы, что и класс `автомобиль`, и дополнительные свойства: количество осей, мощность компрессора и т.п..

- Полиморфизм

Полиморфизм позволяет одинаково обращаться с объектами, имеющими однотипный интерфейс, независимо от внутренней реализации объекта. Например, с объектом класса `грузовой автомобиль` можно производить те же операции, что и с объектом класса `автомобиль`, т.к. первый является наследником второго, при этом обратное утверждение неверно (во всяком случае не всегда). Другими словами полиморфизм предполагает разную реализацию методов с одинаковыми именами. Это очень полезно при наследовании, когда в классе наследнике можно переопределить методы класса родителя. Простым примером полиморфизма может служить функция `count()`, выполняющая одинаковое действие для различных типов обьектов: `'abc'.count('a')` и `[1, 2, 'a'].count('a')`. Оператор плюс полиморфичен при сложении чисел и при сложении строк.

## Создание классов в Python

Класс описывается с помощью ключевого слова `class` по следующей схеме:

```python
class название_класса(Класс_1,...,Класс_n):
    """ Строка документирования"""
    Описание атрибутов и методов
```

Создание класса в Python начинается с инструкции `class`. Вот так будет выглядеть минимальный класс:

In [ ]:
class phone:
   """Необязательная строка документации класса"""  
   pass

Класс состоит из объявления (инструкция `class`), имени класса (в данном случае это имя `phone`) и тела класса, которое содержит атрибуты и методы (в минимальном классе есть только одна инструкция `pass`). Также хорошим тоном считается описывать что делает этот класс и его методы, сразу после его объявления.

На основе данного класса уже можно создать определенный объект, обладающий уникальным идентификатором. Для этого необходимо воспользоваться следующим синтаксисом:

In [ ]:
i = int()

In [ ]:
samsung = phone()

Определив новый класс, можно создавать сколько угодно объектов на его основе. Как уже было сказано выше, такая структура данных может включать в себя некие свойства, то есть переменные, которыми будет наделен каждый экземпляр класса.

### Статические и динамические атрибуты класса

Класс может содержать `атрибуты` и `методы`. 

`Атрибут` может быть статическим и динамическим. Суть в том, что для работы со статическим атрибутом не нужно создавать экземпляр класса, а для работы с динамическим -- нужно. Например:

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = self.default_color
        else:
            self.color = color

        self.brand = brand
        self.kol_camera = kol_camera

В представленном выше классе, атрибут default_color – это статический атрибут, и доступ к нему, как было сказано выше, можно получить не создавая объект класса `phone`.

In [ ]:
phone.default_color

'black'

`color`, `brand` и `kol_camera` – это динамические атрибуты, при их создании было использовано ключевое слово `self`. Про `self` и конструктор `def __init__` будет рассказано далее. Также обратите внимание на то, что внутри класса мы используем статический атрибут `default_color` для присвоения цвета машины, если мы его явно не задали.

```python
if color == None:
    self.color = default_color
 else:
    self.color = color
```            
Для доступа к `color`, `brand` и `kol_camera` предварительно нужно создать объект класса `phone`:

In [ ]:
samsung = phone('серый',"samsung", 2)
samsung.default_color

'black'

Мы создали объект класса, не задав ему конкретный цвет, поэтому был использован стандартный.

Статический атрибут -- это стандартный атрибут класса, который общий для всех объектов этого класса. Давайте присвоим новое значение цвету.

In [ ]:
phone.default_color = "red"

Создадим два объекта класса `phone` и проверим, что `default_color` у них совпадает:

In [ ]:
samsung = phone(None,'samsung',2)
nokia = phone(None,"nokia", 4)

print(samsung.default_color, nokia.default_color)

red red

Если поменять значение default_color через имя класса `phone`, то все будет  ожидаемо: у объектов `samsung` и `nokia` это значение изменится, но если поменять его через экземпляр класса, то у экземпляра будет создан атрибут с таким же именем как статический, а доступ к последнему будет потерян:

In [ ]:
samsung.default_color = "blue"
samsung.default_color

'blue'

А у `nokia` и класса все останется по-прежнему:

In [ ]:
nokia.default_color

'red'

In [ ]:
phone.default_color = 'yellow'
print(samsung.default_color, nokia.default_color)

blue yellow

## Аргумент self

Рассмотрим зачем нужен и что означает `self` в функциях Python. Классам нужен способ, что ссылаться на самих себя. Это способ сообщения между экземплярами: необходимо взять значения атрибута класса именно своего экземпляра, а не чужого. `Self` таким образом заменяет идентификатор объекта. Помещать его нужно в каждую функцию, чтобы иметь возможность вызвать ее на текущем объекте. Также с помощью этого ключевого слова можно получать доступ к полям класса в описываемом методе. 

Мы уже обращались с помощью `self` к `default_color` в нашем классе `phone`.

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = self.default_color
        else:
            self.color = color
            
        self.brand = brand
        self.kol_camera = kol_camera

samsung = phone(None,"samsung",3)
samsung.color

'black'

Если бы в качестве первого параметра не было указано `self`, то при попытке создать класс возникает ошибка:

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = default_color
        else:
            self.color = color
            
        self.brand = brand
        self.kol_camera = kol_camera

samsung = phone(None,"samsung",3)
samsung.color

NameError: ignored

Класс не знает к переменной какого экземпляра класса он обращается, а `self` говорит ему обратиться к тому экземпляру, в котором он вызывается\создается.

## Конструктор класса

Обычно при создании класса хочется его сразу инициализировать некоторыми данными. Например, когда создаем список `a = []` можно сразу передать в него некоторые значения - `a = [1,2,3,4,5]`. Точно также можно сделать с самописными классами. Для этой цели в ООП используется конструктор, принимающий необходимые параметры. В классе конструктор задается с помощью метода `__init__()`:

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = self.default_color
        else:
            self.color = color
            
        self.brand = brand
        self.kol_camera = kol_camera

samsung = phone(None,"samsung",3)
samsung.color

'black'

Внешне конструктор похож на обычный метод, однако вызвать его явным образом нельзя. Вместо этого он автоматически срабатывает каждый раз, когда программа создает новый объект для класса, в котором он расположен. Имя у каждого конструктора задается в виде идентификатора `__init__`. Получаемые им параметры можно присвоить полям будущего объекта, воспользовавшись ключевым словом `self`, как в вышеописанном примере.

Таким образом, класс `phone` содержит три поля: `color` (цвет), `brand` (марка) и `kol_camera` (количество камер). Конструктор принимает параметры для изменения этих свойств во время инициализации нового объекта под названием `samsung`. Каждый класс содержит в себе по крайней мере один конструктор по умолчанию, если ни одного из них не было задано явно (т.е. если мы не создадим конструктор в нашем классе, то будет использован пустой конструктор по умолчанию и класс все равно будет работать).

## Деструктор

Работа с деструктором, как правило, является прерогативой языков, предоставляющих более широкие возможности для управления памятью. Несмотря на грамотную работу сборщика мусора, обеспечивающего своевременное удаление ненужных объектов, вызов деструктора все еще остается доступным. Переопределить его можно в классе, задав имя `__del__`.

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = self.default_color
        else:
            self.color = color
            
        self.brand = brand
        self.kol_camera = kol_camera
    def __del__(self):
        print("Этот объект удален")
samsung = phone(None,"samsung",3)
print(samsung.kol_camera)
#del(samsung)
#samsung.kol_camera

3

Как и конструктор, деструктор может содержать некий пользовательский код, сообщающий об успешном завершении работы метода. В данном примере создается экземпляр класса `phone` и вызывается его деструктор, принимающий в качестве параметра сам объект.

## Методы класса

Добавим к нашему классу методы. Метод -- это функция, находящаяся внутри класса и выполняющая определенную работу.

Методы бывают статическими, классовыми и уровня экземпляра класса (будем их называть обычными меотдами). Статический метод создается с декоратором `@staticmethod`, классовый – с декоратором `@classmethod`, первым аргументом в него передается `cls` (ссылка на вызываемый класс), обычный метод создается без специального декоратора, ему первым аргументом передается `self`. Подробнее про сами декораторы, можно почитать [здесь](https://pythonworld.ru/osnovy/dekoratory.html).

**Метод экземпляра класса** это наиболее часто используемый вид методов. Методы экземпляра класса принимают объект класса как первый аргумент, который принято называть `self` и который указывает на сам экземпляр. Количество параметров метода не ограничено.

Используя параметр `self`, мы можем менять состояние объекта и обращаться к другим его методам и параметрам.

In [ ]:
class phone:
    default_color = "black"
    
    def __init__(self, color, brand, kol_camera):
        if color == None:
            self.color = self.default_color
        else:
            self.color = color
            
        self.brand = brand
        self.kol_camera = kol_camera
    def info(self):
        print("Телефон: " + self.brand)
        print("Цвет: " + self.color)
        print("Количество камер: " + str(self.kol_camera))  
samsung = phone(None, "samsung", 3)
samsung.brand
samsung.info()

Телефон: samsung
Цвет: black
Количество камер: 3

Метод экземпляра класса - `info`, через `self` обращается к своим атрибутам.

## Уровни доступа атрибута и метода (Инкапсуляция)

В языках программирования Java, C#, C++ можно явно указать для переменной, что доступ к ней снаружи класса запрещен, это делается с помощью ключевых слов (private, protected и т.д.). В Python таких возможностей нет, и любой может обратиться к атрибутам и методам вашего класса, если возникнет такая необходимость. Это существенный недостаток этого языка, т.к. нарушается один из ключевых принципов ООП – инкапсуляция. Хорошим тоном считается, что для чтения/изменения какого-то атрибута должны использоваться специальные методы, которые называются `getter/setter`, их можно реализовать, но ничего не помешает изменить атрибут напрямую. При этом есть соглашение, что метод или атрибут, который начинается с `нижнего подчеркивания`, является скрытым, и снаружи класса трогать его не нужно (хотя сделать это можно).

Внесем соответствующие изменения в класс `phone`:

In [ ]:
class phone:
    def __init__(self, brand, kol_camera):
        self._brand = brand
        self._kol_camera = kol_camera
        
    def get_brand(self):
        return self._brand
    
    def set_brand(self, b):
        self._brand = b
        
    def get_camera(self):
        return self._kol_camera
    
    def set_camera(self, c):
        self._kol_camera = c
        
    def info(self):
        print("Телефон: " + self._brand)
        print("Количество камер: " + str(self._kol_camera))

В приведенном примере для доступа к `_brand` и` _kol_camera` используются специальные методы, но ничего не мешает вам обратиться к ним (атрибутам) напрямую.

In [ ]:
samsung = phone("samsung", 2)
samsung.get_brand()

'samsung'

In [ ]:
samsung.set_brand('nokia')
samsung.get_brand()
samsung.info()

Телефон: nokia
Количество камер: 2

In [ ]:
samsung.info()

Телефон: nokia
Количество камер: 2

Однако

In [ ]:
samsung._brand

'nokia'

Если же атрибут или метод начинается с двух подчеркиваний, то тут напрямую вы к нему уже не обратитесь (простым образом). Модифицируем наш класс `phone`:

In [ ]:
class phone:
    def __init__(self, brand, kol_camera):
        self.__brand = brand
        self.__kol_camera = kol_camera
        
    def get_brand(self):
        return self.__brand
    
    def set_brand(self, b):
        self._brand = b
        
    def get_camera(self):
        return self.__kol_camera
    
    def set_camera(self, c):
        self.__kol_camera = c
        
    def info(self):
        print("Телефон: " + self.__brand)
        print("Количество камер: " + str(self.__kol_camera))

Попытка обратиться к `__brand` напрямую вызовет ошибку, нужно работать только через get_brand():

In [ ]:
samsung = phone("samsung", 2)
samsung.get_brand()

'samsung'

In [ ]:
samsung.__brand

AttributeError: ignored

Но на самом деле это сделать можно, просто этот атрибут теперь для внешнего использования носит название: `_phone__brand`:

In [ ]:
samsung._phone__brand

'samsung'

## Наследование

Возможность одному классу выступать в качестве наследника для другого, перенимая тем самым его свойства и методы, является важной особенностью ООП. Благодаря этой важной особенности пропадает необходимость переписывания кода для подобных или родственных по назначению классов.

При наследовании классов в Python обязательно следует соблюдать одно условие: `класс-наследник` должен представлять собой более частный случай `класса-родителя`. В следующем примере показывается как класс `phone` наследуется классом `model`. При описании подкласса в Python, имя родительского класса записывается в круглых скобках.

In [ ]:
class phone:
    def __init__(self, brand, kol_camera):
        self.__brand = brand
        self.__kol_camera = kol_camera
        
    def get_brand(self):
        return self.__brand
    
    def set_brand(self, b):
        self.__brand = b
        
    def get_camera(self):
        return self.__kol_camera
    
    def set_camera(self, c):
        self.__kol_camera = c
        
    def info(self):
        print("Телефон: " + self.__brand)
        print("Количество камер: " + str(self.__kol_camera))

In [ ]:
class model(phone):
    
    def __init__(self, brand, kol_camera, number):
        super().__init__(brand, kol_camera)
        self.__number = number
 
    def get_number(self):
        return self.__number
    
    def set_number(self, n):
        self.__number = n

Родительским классом является `phone`, который при инициализации принимает бренд машины и количество дверей и предоставляет его через свойства. `model` – класс наследник от `phone`. Обратите внимание на его метод `__init__`: в нем первым делом вызывается конструктор его родительского класса: `super().__init__(brand, kol_camera)`

`super` – это ключевое слово, которое используется для обращения к родительскому классу. Теперь у объекта класса `model` помимо уже знакомых свойств `brand` и `kol_camera` добавилось свойство `number`:

In [ ]:
s10 = model("samsung", 2, 's100F')

s10.get_number()

's100F'

И смотрите, методы из родительского класса работают!

In [ ]:
s10.set_brand('nokia')
s10.info()

Телефон: nokia
Количество камер: 2

## Полиморфизм

Как уже было сказано во введении в рамках ООП полиморфизм, как правило, используется с позиции переопределения методов базового класса в классе наследнике. Проще всего это рассмотреть на примере. В нашем базовом класс `phone` есть метод `info()`, который печатает сводную информацию по объекту класса `phone` и переопределим этот метод в классе `model`, добавим  в него дополнительные данные:

In [ ]:
class phone:
    def __init__(self, brand, kol_camera):
        self.__brand = brand
        self.__kol_camera = kol_camera
        
    def get_brand(self):
        return self.__brand
    
    def set_brand(self, b):
        self.__brand = b
        
    def get_camera(self):
        return self.__kol_camera
    
    def set_camera(self, c):
        self.__kol_camera = c
        
    def info(self):
        print("Телефон: " + self.__brand)
        print("Количество камер: " + str(self.__kol_camera))

In [ ]:
class model(phone):
    
    def __init__(self, brand, kol_camera, number):
        super().__init__(brand, kol_camera)
        self.__number = number
 
    def get_number(self):
        return self.__number
    
    def set_number(self, n):
        self.__number = n

    def info(self):
        print("Телефон: " + self.get_brand())
        print("Количество камер: " + str(self.get_camera()))
        print("Модель телефона: " + str(self.__number))

Посмотрим, как это работает

In [ ]:
samsung = phone("samsung", 2)
samsung.info()

Телефон: samsung
Количество камер: 2

In [ ]:
s10 = model("samsung", 2, 's100F')
s10.info()

Телефон: samsung
Количество камер: 2
Модель телефона: s100F

Таким образом, класс наследник может расширять функционал класса родителя.

## Условный оператор (оператор ветвления)


Условные операторы позволяют в зависимости от значения логического выражения выполнить отдельный участок программы или, наоборот, не выполнить его. 

Логические выражения возвращают только два значения: True (истина) или False (ложь), которые ведут себя как целые числа 1 и 0, соответственно.

Оператор ветвления if...else позволяет в зависимости от значения логического выраже-
ния выполнить отдельный участок программы или, наоборот, не выполнить его. Оператор
имеет следующий формат:
``` python
if <Логическое выражение>: 
    <Блок, выполняемый, если условие истинно>
[elif <Логическое выражение>: 
    <Блок, выполняемый, если условие истинно>
]
[else:
    <Блок, выполняемый, если все условия ложны>
]
```

In [ ]:
x = 1
if x == 1:  # Выражение равно True, это условие истинное
    print('That is true!')  # Фраза выводится

That is true!

In [ ]:
if 0:  # Выражение равно False, это условие ложное
    print('That is true!')  # Фраза не выводится

Обратите внимание, что код, который находится внутри условия, выделяется отступом в 4 пробела или табуляцией.

Иначе программа не поймет, что он относится к условию.

In [ ]:
if x == 1:
print('That is true!')

IndentationError: expected an indented block (<ipython-input-5-b1fb9bc19953>, line 2)

А что делать, если в том случае, когда условие не истинное, мы тоже хотим совершать какое-то действие? Для этого у нас есть ключевое слово **else ("то")**.

In [ ]:
if x != 1:
    print('That is true!')
else:
    print('That is false!')

That is false!

Мы разобрались, как поступать, если у нас два варианта действий, но их может быть и больше.

Для примера давайте решим простую задачу - найти минимум из двух введенных чисел. Пока ничего нового:

In [ ]:
a = input('Введите первое число: ')
b = input('Введите второе число: ')
if a < b:
    min = a
else:
    min = b
print('Минимум равен', min)

Минимум равен 3

А теперь усложним задание, добавив третий вариант развития событий - если числа равны, будем печатать *'Равные числа'*.

Можно решить эту задачу с помощью вложенных условий:

In [ ]:
a = input('Введите первое число: ')
b = input('Введите второе число: ')
if a < b: 
    print(a)
else:
    if a > b: # обратите внимание, здесь одно условие находится внутри другого, и код ниже будет писаться после двойного отступа
        print(b)
    else:
        print('Равные числа:', a)

Равные числа: 3

Неплохо, но можно упростить это решение с помощью конструкции **else if (или elif)**, которая позволяет в случае ложности условия сразу же написать еще одну проверку.

Вот как будет выглядеть решение нашей задачи с помощью elif:

In [ ]:
a = input('Введите первое число: ')
b = input('Введите второе число: ')
if a < b: 
    print(a)
elif a > b: 
    print(b)
else:
    print('Равные числа:', a)

Введите первое число: 3
Введите второе число: 3
Равные числа: 3

## Итерации

### Цикл `for`

Цикл `for` является универсальным оператором в `Python`: он может проходить по элементам в любой упорядоченной последовательности или в другом итерируемом объекте.


Цикл `for` применяется для перебора элементов любой упорядоченной последовательности или итерируемого объекта. 

Синтаксис цикла `for`:
```python
for <Текущий элемент> in <Последовательность>: 
    <Инструкции внутри цикла>
[else: 
    <Блок, выполняемый, если не использовался оператор break>
]
```

Здесь присутствуют следующие конструкции:
- <Последовательность> — объект, поддерживающий механизм итерации: строка,  список, кортеж, диапазон, словарь и др.;
- <Текущий элемент> — на каждой итерации через эту переменную доступен очередной
элемент последовательности или ключ словаря;
- <Инструкции внутри цикла> — блок, который будет многократно выполняться;
- если внутри цикла не использовался оператор `break`, то после завершения выполнения цикла будет выполнен блок в инструкции `else`. Этот блок не является обязательным.

In [ ]:
lst_iter = 'пара'

for i in lst_iter:
   print(i+'8')

п8
а8
р8
а8

In [ ]:
for i in lst_iter:
    print(i)
else:
    print('Распечатали весь массив')

1
2
3
Распечатали весь массив

In [ ]:
for i in lst_iter:
    if i != 2: 
        print(i)
    else: 
        print('Особый случай')
        break
else:
    print('Распечатали весь массив')

1
Особый случай

In [ ]:
i = 2
#sum = 0 
sum = sum + i 
sum

3

### Цикл `while`

Выполнение инструкций в цикле `while` продолжается до тех пор, пока логическое выражение истинно. Цикл `while` имеет следующий формат:
```python
<Задание начального значения для переменной-счетчика>
while <Условие>:
   <Инструкции>
   <Приращение значения в переменной-счетчике>
[else:
   <Блок, выполняемый, если не использовался оператор break>
]
```

In [ ]:
i = 0
lst_temp = list() 
while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Операторы: `break` и `continue`

- Оператор `continue` позволяет перейти к следующей итерации цикла до завершения выполнения всех инструкций внутри цикла;
- Оператор `break` позволяет прервать выполнение цикла досрочно.

In [ ]:
for i in range(1, 10): 
    if 4 < i < 8: 
        continue
    print(i)

1
2
3
4
8
9

In [ ]:
for i in range(1, 10):
    if i < 8: 
        print(i)
    else:
        break

1
2
3
4
5
6
7

# Тема 3.1 Библиотеки numpy, pandas, SciKit-Learn, scipy

## Терминология

Библиотека -- это набор готовых функций, классов и объектов для решения каких-то задач.

## Библиотека Pandas

### Работа с библиотекой Pandas

Рассматриваемые вопросы:

1. История развития библиотеки `pandas`; 
2. Предназначение библиотеки `pandas`;
3. Совместное использование с другими библиотеками;
4. Установка библиотеки `pandas`;
5. Объекты для работы с данными;
6. Загрузка данных;
7. Знакомство с данными.

### История развития библиотеки `pandas`
***
<u>Замечание (этимология).</u> Название `pandas` образовано как от `panel data` (панельные данные), применяемого в эконометрике термина для обозначения многомерных структурированных наборов данных, так и от фразы `Python data analysis` [1].
***
<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=17c-ZeakLjKOxWepNCS0wpXV-oeakPBb9' width="500" height="300" />
<figcaption>Больша́я па́нда или бамбу́ковый медведь</figcaption></center>
</figure>

`Pandas` --- это программная библиотека на языке Python, которая предоставляет очень удобные, с точки зрения использования, инструменты для хранения и работы с данными.

Разработку библиотеки `pandas` начал Уэс Маккини в 2008 г. К концу 2009 года она представлена как проект с открытым программным кодом. С 2015 года `pandas` является спонсируемым проектом [NumFOCUS](https://numfocus.org/sponsored-projects). В настоящее время библиотека активно курируется и разрабатывается различными организациями и участниками. 

***

<u>Замечание (для общего развития).</u>
NumFOCUS - это общественная благотворительная организация в США.

Миссия NumFOCUS - продвигать открытые практики в исследованиях, данных и научных вычислениях, выступая в качестве финансового спонсора проектов с открытым исходным кодом и организуя образовательные программы, ориентированные на сообщества.
***

Официальная страница библиотеки находится по адресу [https://pandas.pydata.org/](https://pandas.pydata.org/).

### Предназначение библиотеки `pandas`
<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=1mHdn3yjiz233ANaXOcdo5WpddkNBWAHN'/>
<figcaption>Процесс анализа данных</figcaption></center>
</figure>

### Совместное использование с другими библиотеками

Библиотека `pandas` довольно часто используется совместно со следующими библиотеками:
- численные и научные вычисления: [`numpy`](https://numpy.org/), [`scipy`](https://scipy.org/);
- статистический анализ: [`statsmodels`](https://www.statsmodels.org/);
- машинное обучение: [`scikit-learn`](https://scikit-learn.org);
- визуализация: [`matplotlib`](https://matplotlib.org/), [`seaborn`](https://seaborn.pydata.org/).

### Установка библиотеки `pandas`

При изложении этого вопроса будем предполагать, что на компьютере 
- установлен [`Anaconda`](https://www.anaconda.com/products/individual) $-$ дистрибутив языка программирования `Python`;
- актуальная версия одного из современных веб-браузеров (Google Chrome, Internet Explorer, Mozilla Firefox и т.п.).

И есть возможность работать с либо [Jupyter Notebook](https://jupyter.org/), либо [Colab](https://colab.research.google.com/).

***
<u>Замечание (установка).</u> Об особенностях установки дистрибутива [`Anaconda`](https://www.anaconda.com/products/individual) под различные операционные системы можно почитать в работе [2]. 
***

Далее будем предполагать, что работа ведется либо в [Jupyter Notebook](https://jupyter.org/), либо в [Colab](https://colab.research.google.com/).

Рассмотрим следующие вопросы, связанные с установкой библиотеки `pandas`:
- наличие библиотеки;
- установка библиотеки;
- проверка обновлений;
- установка библиотеки требуемой версии;
- удаление библиотеки;
- подключение библиотеки к проекту;
- работа с файлом требований;
- установка параметров вывода библиотеки.

#### Наличие библиотеки

Для того, чтобы проверить наличие библиотеки `pandas` в системе следует воспользоваться одним из следующих вариантов команд:
- `pip show pandas` возвращает версию библиотеки, ее местонахождение на диске и зависимости;
- `pip list` --- возвращает установленные библиотеки вместе с их версиями;
- `pip freeze` --- возвращает установленные библиотеки вместе с их версиями (упомянуть про файл с требованиями).

Полезная команда `pd.show_versions()`

In [ ]:
pip show gelios

WARNING: Package(s) not found: gelios

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
print(pd.show_versions())

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.7.13.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.188+
Version          : #1 SMP Sun Apr 24 10:03:06 PDT 2022
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.6
pytz             : 2022.1
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.30
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.6
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 5.5.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : 1.3.4
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.13.3
pyarrow          : 6.0.1
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.4.36
tables           : 3.7.0
tabulate         : 0.8.9
xarray           : 0.20.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.51.2
None

In [ ]:
pip list

Package                       Version
----------------------------- --------------
absl-py                       0.12.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.1.0
appdirs                       1.4.4
argcomplete                   1.12.3
argon2-cffi                   21.1.0
arviz                         0.11.4
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
atari-py                      0.2.9
atomicwrites                  1.4.0
attrs                         21.2.0
audioread                     2.1.9
autograd                      1.3
Babel                         2.9.1
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        4.1.0
blis                          0.4.1
bokeh                         2.3.3
Bottleneck                    1.3.2
branca                        0.4.2
bs4                           0.0.1
CacheControl                  0.12.10
cached-property               1.5.2
cachetools                    4.2.4
catalogue                     1.0.0
certifi                       2021.10.8
cffi                          1.15.0
cftime                        1.5.1.1
chardet                       3.0.4
charset-normalizer            2.0.8
click                         7.1.2
cloudpickle                   1.3.0
cmake                         3.12.0
cmdstanpy                     0.9.5
colorcet                      2.0.6
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.3.2
coverage                      3.7.1
coveralls                     0.5
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.2.7
cvxpy                         1.0.31
cycler                        0.11.0
cymem                         2.0.6
Cython                        0.29.24
daft                          0.0.4
dask                          2.12.0
datascience                   0.10.6
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
descartes                     1.1.0
dill                          0.3.4
distributed                   1.25.3
dlib                          19.18.0
dm-tree                       0.1.6
docopt                        0.6.2
docutils                      0.17.1
dopamine-rl                   1.0.5
earthengine-api               0.1.290
easydict                      1.9
ecos                          2.0.7.post1
editdistance                  0.5.3
en-core-web-sm                2.2.5
entrypoints                   0.3
ephem                         4.1
et-xmlfile                    1.1.0
fa2                           0.3.5
fastai                        1.0.61
fastdtw                       0.3.4
fastprogress                  1.0.0
fastrlock                     0.8
fbprophet                     0.7.1
feather-format                0.4.1
filelock                      3.4.0
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   2.0
folium                        0.8.3
future                        0.16.0
gast                          0.4.0
GDAL                          2.2.2
gdown                         3.6.4
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               1.26.3
google-api-python-client      1.12.8
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.0
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.53.0
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.2
grpcio                        1.42.0
gspread                       3.0.1
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.2
holidays                      0.10.5.2
holoviews                     1.14.6
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
humanize                      0.5.1
hyperopt                      0.1.2
ideep4py                      2.0.0.post3
idna                          2.10
imageio                       2.4.1
imagesize                     1.3.0
imbalanced-learn              0.8.1
imblearn                      0.0
imgaug                        0.2.9
importlib-metadata            4.8.2
importlib-resources           5.4.0
imutils                       0.5.4
inflect                       2.1.0
iniconfig                     1.1.1
intel-openmp                  2021.4.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.6.5
itsdangerous                  1.1.0
jax                           0.2.25
jaxlib                        0.1.71+cuda111
jdcal                         1.4.1
jedi                          0.18.1
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.1.0
jpeg4py                       0.1.4
jsonschema                    2.6.0
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.9.1
jupyterlab-pygments           0.1.2
jupyterlab-widgets            1.0.2
kaggle                        1.5.12
kapre                         0.3.6
keras                         2.7.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
libclang                      12.0.0
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.34.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.2.6
Markdown                      3.3.6
MarkupSafe                    2.0.1
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.6
missingno                     0.5.0
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.12.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.3
multiprocess                  0.70.12.2
multitasking                  0.0.10
murmurhash                    1.0.6
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.5.9
nbconvert                     5.6.1
nbformat                      5.1.3
nest-asyncio                  1.5.4
netCDF4                       1.5.8
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.2.5
notebook                      5.3.1
numba                         0.51.2
numexpr                       2.7.3
numpy                         1.19.5
nvidia-ml-py3                 7.352.0
oauth2client                  4.1.3
oauthlib                      3.1.1
okgrade                       0.4.3
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30
openpyxl                      2.5.9
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.3
palettable                    3.3.0
pandas                        1.1.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.12.0
parso                         0.8.3
pathlib                       1.0.1
patsy                         0.5.2
pep517                        0.12.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
plac                          1.1.3
plotly                        4.4.1
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.5.2
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.6
prettytable                   2.4.0
progressbar2                  3.38.0
prometheus-client             0.12.0
promise                       2.3
prompt-toolkit                1.0.18
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.7.6.1
ptyprocess                    0.7.0
py                            1.11.0
pyarrow                       3.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.3
pycparser                     2.21
pyct                          0.4.8
pydata-google-auth            1.2.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0.1
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pymc3                         3.11.4
PyMeeus                       0.5.11
pymongo                       3.12.1
pymystem3                     0.2.0
PyOpenGL                      3.1.5
pyparsing                     3.0.6
pyrsistent                    0.18.0
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        2.19.1.1
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.15
python-slugify                5.0.2
python-utils                  2.5.6
pytz                          2018.9
pyviz-comms                   2.1.0
PyWavelets                    1.2.0
PyYAML                        3.13
pyzmq                         22.3.0
qdldl                         0.1.5.post0
qtconsole                     5.2.1
QtPy                          1.11.2
regex                         2019.12.20
requests                      2.23.0
requests-oauthlib             1.3.0
resampy                       0.2.2
retrying                      1.3.3
rpy2                          3.4.5
rsa                           4.8
scikit-image                  0.18.3
scikit-learn                  1.0.1
scipy                         1.4.1
screen-resolution-extra       0.0.0
scs                           2.1.4
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.8.0
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    5.2.1
snowballstemmer               2.2.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
spacy                         2.2.4
Sphinx                        1.8.6
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.27
sqlparse                      0.4.2
srsly                         1.0.5
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.4.4
tabulate                      0.8.9
tblib                         1.7.0
tensorboard                   2.7.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.0
tensorflow                    2.7.0
tensorflow-datasets           4.0.1
tensorflow-estimator          2.7.0
tensorflow-gcs-config         2.7.0
tensorflow-hub                0.12.0
tensorflow-io-gcs-filesystem  0.22.0
tensorflow-metadata           1.4.0
tensorflow-probability        0.15.0
termcolor                     1.1.0
terminado                     0.12.1
testpath                      0.5.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         7.4.0
threadpoolctl                 3.0.0
tifffile                      2021.11.2
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
torch                         1.10.0+cu111
torchaudio                    0.10.0+cu111
torchsummary                  1.5.1
torchtext                     0.11.0
torchvision                   0.11.1+cu111
tornado                       5.1.1
tqdm                          4.62.3
traitlets                     5.1.1
tweepy                        3.10.0
typeguard                     2.7.1
typing-extensions             3.10.0.2
tzlocal                       1.5.1
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.8.2
wcwidth                       0.2.5
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.0
widgetsnbextension            3.5.2
wordcloud                     1.5.0
wrapt                         1.13.3
xarray                        0.18.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yellowbrick                   1.3.post1
zict                          2.0.0
zipp                          3.6.0

In [ ]:
pip freeze

absl-py==0.12.0
alabaster==0.7.12
albumentations==0.1.12
altair==4.1.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==21.1.0
arviz==0.11.4
astor==0.8.1
astropy==4.3.1
astunparse==1.6.3
atari-py==0.2.9
atomicwrites==1.4.0
attrs==21.2.0
audioread==2.1.9
autograd==1.3
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.6.3
bleach==4.1.0
blis==0.4.1
bokeh==2.3.3
Bottleneck==1.3.2
branca==0.4.2
bs4==0.0.1
CacheControl==0.12.10
cached-property==1.5.2
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.1.1
chardet==3.0.4
charset-normalizer==2.0.8
click==7.1.2
cloudpickle==1.3.0
cmake==3.12.0
cmdstanpy==0.9.5
colorcet==2.0.6
colorlover==0.3.0
community==1.0.0b1
contextlib2==0.5.5
convertdate==2.3.2
coverage==3.7.1
coveralls==0.5
crcmod==1.7
cufflinks==0.17.3
cvxopt==1.2.7
cvxpy==1.0.31
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
daft==0.0.4
dask==2.12.0
datascience==0.10.6
debugpy==1.0.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.4
distributed==1.25.3
dlib @ file:///dlib-19.18.0-cp37-cp37m-linux_x86_64.whl
dm-tree==0.1.6
docopt==0.6.2
docutils==0.17.1
dopamine-rl==1.0.5
earthengine-api==0.1.290
easydict==1.9
ecos==2.0.7.post1
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
entrypoints==0.3
ephem==4.1
et-xmlfile==1.1.0
fa2==0.3.5
fastai==1.0.61
fastdtw==0.3.4
fastprogress==1.0.0
fastrlock==0.8
fbprophet==0.7.1
feather-format==0.4.1
filelock==3.4.0
firebase-admin==4.4.0
fix-yahoo-finance==0.0.22
Flask==1.1.4
flatbuffers==2.0
folium==0.8.3
future==0.16.0
gast==0.4.0
GDAL==2.2.2
gdown==3.6.4
gensim==3.6.0
geographiclib==1.52
geopy==1.17.0
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-api-core==1.26.3
google-api-python-client==1.12.8
google-auth==1.35.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.6
google-cloud-bigquery==1.21.0
google-cloud-bigquery-storage==1.1.0
google-cloud-core==1.0.3
google-cloud-datastore==1.8.0
google-cloud-firestore==1.7.0
google-cloud-language==1.2.0
google-cloud-storage==1.18.1
google-cloud-translate==1.5.0
google-colab @ file:///colabtools/dist/google-colab-1.0.0.tar.gz
google-pasta==0.2.0
google-resumable-media==0.4.1
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
graphviz==0.10.1
greenlet==1.1.2
grpcio==1.42.0
gspread==3.0.1
gspread-dataframe==3.0.8
gym==0.17.3
h5py==3.1.0
HeapDict==1.0.1
hijri-converter==2.2.2
holidays==0.10.5.2
holoviews==1.14.6
html5lib==1.0.1
httpimport==0.5.18
httplib2==0.17.4
httplib2shim==0.0.3
humanize==0.5.1
hyperopt==0.1.2
ideep4py==2.0.0.post3
idna==2.10
imageio==2.4.1
imagesize==1.3.0
imbalanced-learn==0.8.1
imblearn==0.0
imgaug==0.2.9
importlib-metadata==4.8.2
importlib-resources==5.4.0
imutils==0.5.4
inflect==2.1.0
iniconfig==1.1.1
intel-openmp==2021.4.0
intervaltree==2.1.0
ipykernel==4.10.1
ipython==5.5.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.6.5
itsdangerous==1.1.0
jax==0.2.25
jaxlib @ https://storage.googleapis.com/jax-releases/cuda111/jaxlib-0.1.71+cuda111-cp37-none-manylinux2010_x86_64.whl
jdcal==1.4.1
jedi==0.18.1
jieba==0.42.1
Jinja2==2.11.3
joblib==1.1.0
jpeg4py==0.1.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.5
jupyter-console==5.2.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaggle==1.5.12
kapre==0.3.6
keras==2.7.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
libclang==12.0.0
librosa==0.8.1
lightgbm==2.2.3
llvmlite==0.34.0
lmdb==0.99
LunarCalendar==0.0.9
lxml==4.2.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.2
matplotlib-inline==0.1.3
matplotlib-venn==0.11.6
missingno==0.5.0
mistune==0.8.4
mizani==0.6.0
mkl==2019.0
mlxtend==0.14.0
more-itertools==8.12.0
moviepy==0.2.3.5
mpmath==1.2.1
msgpack==1.0.3
multiprocess==0.70.12.2
multitasking==0.0.10
murmurhash==1.0.6
music21==5.5.0
natsort==5.5.0
nbclient==0.5.9
nbconvert==5.6.1
nbformat==5.1.3
nest-asyncio==1.5.4
netCDF4==1.5.8
networkx==2.6.3
nibabel==3.0.2
nltk==3.2.5
notebook==5.3.1
numba==0.51.2
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.1
okgrade==0.4.3
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
openpyxl==2.5.9
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==21.3
palettable==3.3.0
pandas==1.1.5
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pandocfilters==1.5.0
panel==0.12.1
param==1.12.0
parso==0.8.3
pathlib==1.0.1
patsy==0.5.2
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pip-tools==6.2.0
plac==1.1.3
plotly==4.4.1
plotnine==0.6.0
pluggy==0.7.1
pooch==1.5.2
portpicker==1.3.9
prefetch-generator==1.0.1
preshed==3.0.6
prettytable==2.4.0
progressbar2==3.38.0
prometheus-client==0.12.0
promise==2.3
prompt-toolkit==1.0.18
protobuf==3.17.3
psutil==5.4.8
psycopg2==2.7.6.1
ptyprocess==0.7.0
py==1.11.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.3
pycparser==2.21
pyct==0.4.8
pydata-google-auth==1.2.0
pydot==1.3.0
pydot-ng==2.0.0
pydotplus==2.0.2
PyDrive==1.3.1
pyemd==0.5.1
pyerfa==2.0.0.1
pyglet==1.5.0
Pygments==2.6.1
pygobject==3.26.1
pymc3==3.11.4
PyMeeus==0.5.11
pymongo==3.12.1
pymystem3==0.2.0
PyOpenGL==3.1.5
pyparsing==3.0.6
pyrsistent==0.18.0
pysndfile==1.3.8
PySocks==1.7.1
pystan==2.19.1.1
pytest==3.6.4
python-apt==0.0.0
python-chess==0.23.11
python-dateutil==2.8.2
python-louvain==0.15
python-slugify==5.0.2
python-utils==2.5.6
pytz==2018.9
pyviz-comms==2.1.0
PyWavelets==1.2.0
PyYAML==3.13
pyzmq==22.3.0
qdldl==0.1.5.post0
qtconsole==5.2.1
QtPy==1.11.2
regex==2019.12.20
requests==2.23.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rpy2==3.4.5
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.4.1
screen-resolution-extra==0.0.0
scs==2.1.4
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
setuptools-git==1.2
Shapely==1.8.0
simplegeneric==0.8.1
six==1.15.0
sklearn==0.0
sklearn-pandas==1.8.0
smart-open==5.2.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
spacy==2.2.4
Sphinx==1.8.6
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.27
sqlparse==0.4.2
srsly==1.0.5
statsmodels==0.10.2
sympy==1.7.1
tables==3.4.4
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow @ file:///tensorflow-2.7.0-cp37-cp37m-linux_x86_64.whl
tensorflow-datasets==4.0.1
tensorflow-estimator==2.7.0
tensorflow-gcs-config==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow-metadata==1.4.0
tensorflow-probability==0.15.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.15.3
Theano-PyMC==1.1.2
thinc==7.4.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch @ https://download.pytorch.org/whl/cu111/torch-1.10.0%2Bcu111-cp37-cp37m-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu111/torchaudio-0.10.0%2Bcu111-cp37-cp37m-linux_x86_64.whl
torchsummary==1.5.1
torchtext==0.11.0
torchvision @ https://download.pytorch.org/whl/cu111/torchvision-0.11.1%2Bcu111-cp37-cp37m-linux_x86_64.whl
tornado==5.1.1
tqdm==4.62.3
traitlets==5.1.1
tweepy==3.10.0
typeguard==2.7.1
typing-extensions==3.10.0.2
tzlocal==1.5.1
uritemplate==3.0.1
urllib3==1.24.3
vega-datasets==0.9.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wordcloud==1.5.0
wrapt==1.13.3
xarray==0.18.2
xgboost==0.90
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yellowbrick==1.3.post1
zict==2.0.0
zipp==3.6.0

#### Установка библиотеки

Для установки библиотеки `pandas` следует воспользоваться следующей командой `pip install pandas`.

In [ ]:
pip install gelios

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement gelios (from versions: none)
ERROR: No matching distribution found for gelios

#### Проверка обновлений

Команда `pip list --outdated` возвращает список устаревших библиотек.

In [ ]:
pip list --outdated

Package                       Version        Latest       Type
----------------------------- -------------- ------------ -----
absl-py                       0.12.0         1.0.0        wheel
albumentations                0.1.12         1.1.0        wheel
altair                        4.1.0          4.2.0        wheel
argon2-cffi                   21.1.0         21.3.0       wheel
attrs                         21.2.0         21.4.0       wheel
beautifulsoup4                4.6.3          4.10.0       wheel
blis                          0.4.1          0.7.5        wheel
bokeh                         2.3.3          2.4.2        wheel
cachetools                    4.2.4          5.0.0        wheel
catalogue                     1.0.0          2.0.6        wheel
chardet                       3.0.4          4.0.0        wheel
charset-normalizer            2.0.8          2.0.9        wheel
click                         7.1.2          8.0.3        wheel
cloudpickle                   1.3.0          2.0.0        wheel
cmake                         3.12.0         3.22.1       wheel
cmdstanpy                     0.9.5          1.0.0        wheel
colorcet                      2.0.6          3.0.0        wheel
contextlib2                   0.5.5          21.6.0       wheel
coverage                      3.7.1          6.2          wheel
coveralls                     0.5            3.3.1        wheel
cvxpy                         1.0.31         1.1.18       wheel
Cython                        0.29.24        0.29.26      wheel
daft                          0.0.4          0.1.2        wheel
dask                          2.12.0         2021.12.0    wheel
datascience                   0.10.6         0.17.0       sdist
debugpy                       1.0.0          1.5.1        wheel
decorator                     4.4.2          5.1.0        wheel
distributed                   1.25.3         2021.12.0    wheel
dlib                          19.18.0        19.22.1      sdist
docutils                      0.17.1         0.18.1       wheel
dopamine-rl                   1.0.5          4.0.2        wheel
earthengine-api               0.1.290        0.1.292      sdist
ecos                          2.0.7.post1    2.0.8        wheel
editdistance                  0.5.3          0.6.0        wheel
ephem                         4.1            4.1.3        wheel
fastai                        1.0.61         2.5.3        wheel
filelock                      3.4.0          3.4.2        wheel
firebase-admin                4.4.0          5.2.0        wheel
fix-yahoo-finance             0.0.22         0.1.37       sdist
Flask                         1.1.4          2.0.2        wheel
folium                        0.8.3          0.12.1.post1 wheel
future                        0.16.0         0.18.2       sdist
gast                          0.4.0          0.5.3        wheel
GDAL                          2.2.2          3.4.0        sdist
gdown                         3.6.4          4.2.0        sdist
gensim                        3.6.0          4.1.2        wheel
geopy                         1.17.0         2.2.0        wheel
google                        2.0.3          3.0.0        wheel
google-api-core               1.26.3         2.3.2        wheel
google-api-python-client      1.12.8         2.33.0       wheel
google-auth                   1.35.0         2.3.3        wheel
google-auth-httplib2          0.0.4          0.1.0        wheel
google-cloud-bigquery         1.21.0         2.31.0       wheel
google-cloud-bigquery-storage 1.1.0          2.10.1       wheel
google-cloud-core             1.0.3          2.2.1        wheel
google-cloud-datastore        1.8.0          2.4.0        wheel
google-cloud-firestore        1.7.0          2.3.4        wheel
google-cloud-language         1.2.0          2.3.1        wheel
google-cloud-storage          1.18.1         1.43.0       wheel
google-cloud-translate        1.5.0          3.6.1        wheel
google-resumable-media        0.4.1          2.1.0        wheel
googleapis-common-protos      1.53.0         1.54.0       wheel
graphviz                      0.10.1         0.19.1       wheel
grpcio                        1.42.0         1.43.0       wheel
gspread                       3.0.1          5.1.1        wheel
gspread-dataframe             3.0.8          3.2.2        wheel
gym                           0.17.3         0.21.0       sdist
h5py                          3.1.0          3.6.0        wheel
holidays                      0.10.5.2       0.11.3.1     wheel
holoviews                     1.14.6         1.14.7       wheel
html5lib                      1.0.1          1.1          wheel
httpimport                    0.5.18         0.7.2        wheel
httplib2                      0.17.4         0.20.2       wheel
humanize                      0.5.1          3.13.1       wheel
hyperopt                      0.1.2          0.2.7        wheel
idna                          2.10           3.3          wheel
imageio                       2.4.1          2.13.5       wheel
imgaug                        0.2.9          0.4.0        wheel
importlib-metadata            4.8.2          4.10.0       wheel
inflect                       2.1.0          5.3.0        wheel
intel-openmp                  2021.4.0       2022.0.1     wheel
intervaltree                  2.1.0          3.1.0        sdist
ipykernel                     4.10.1         6.6.0        wheel
ipython                       5.5.0          7.30.1       wheel
ipython-sql                   0.3.9          0.4.0        wheel
itsdangerous                  1.1.0          2.0.1        wheel
jax                           0.2.25         0.2.26       sdist
jaxlib                        0.1.71+cuda111 0.1.75       wheel
Jinja2                        2.11.3         3.0.3        wheel
jsonschema                    2.6.0          4.3.3        wheel
jupyter-client                5.3.5          7.1.0        wheel
jupyter-console               5.2.0          6.4.0        wheel
lightgbm                      2.2.3          3.3.1        wheel
llvmlite                      0.34.0         0.37.0       wheel
lmdb                          0.99           1.3.0        wheel
lxml                          4.2.6          4.7.1        wheel
matplotlib                    3.2.2          3.5.1        wheel
mistune                       0.8.4          2.0.1        wheel
mizani                        0.6.0          0.7.3        wheel
mkl                           2019.0         2022.0.1     wheel
mlxtend                       0.14.0         0.19.0       wheel
moviepy                       0.2.3.5        1.0.3        sdist
music21                       5.5.0          7.1.0        sdist
natsort                       5.5.0          8.0.2        wheel
nbconvert                     5.6.1          6.3.0        wheel
nibabel                       3.0.2          3.2.1        wheel
nltk                          3.2.5          3.6.7        wheel
notebook                      5.3.1          6.4.6        wheel
numba                         0.51.2         0.54.1       wheel
numexpr                       2.7.3          2.8.1        wheel
numpy                         1.19.5         1.21.5       wheel
opencv-contrib-python         4.1.2.30       4.5.5.62     wheel
opencv-python                 4.1.2.30       4.5.5.62     wheel
openpyxl                      2.5.9          3.0.9        wheel
osqp                          0.6.2.post0    0.6.2.post4  wheel
pandas                        1.1.5          1.3.5        wheel
pandas-datareader             0.9.0          0.10.0       wheel
pandas-gbq                    0.13.3         0.16.0       wheel
pandas-profiling              1.4.1          3.1.0        wheel
panel                         0.12.1         0.12.6       wheel
Pillow                        7.1.2          9.0.0        wheel
pip                           21.1.3         21.3.1       wheel
pip-tools                     6.2.0          6.4.0        wheel
plac                          1.1.3          1.3.4        wheel
plotly                        4.4.1          5.5.0        wheel
plotnine                      0.6.0          0.8.0        wheel
pluggy                        0.7.1          1.0.0        wheel
portpicker                    1.3.9          1.5.0        wheel
prettytable                   2.4.0          2.5.0        wheel
progressbar2                  3.38.0         3.55.0       wheel
prompt-toolkit                1.0.18         3.0.24       wheel
protobuf                      3.17.3         3.19.1       wheel
psutil                        5.4.8          5.9.0        wheel
psycopg2                      2.7.6.1        2.9.3        sdist
pyarrow                       3.0.0          6.0.1        wheel
pydata-google-auth            1.2.0          1.3.0        wheel
pydot                         1.3.0          1.4.2        wheel
pyglet                        1.5.0          1.5.21       wheel
Pygments                      2.6.1          2.11.1       wheel
pygobject                     3.26.1         3.42.0       sdist
pymongo                       3.12.1         4.0.1        wheel
pysndfile                     1.3.8          1.4.3        sdist
pystan                        2.19.1.1       3.3.0        wheel
pytest                        3.6.4          6.2.5        wheel
python-apt                    0.0.0          0.7.8        sdist
python-chess                  0.23.11        1.999        wheel
python-utils                  2.5.6          2.7.1        wheel
pytz                          2018.9         2021.3       wheel
PyYAML                        3.13           6.0          wheel
qtconsole                     5.2.1          5.2.2        wheel
QtPy                          1.11.2         2.0.0        wheel
regex                         2019.12.20     2021.11.10   wheel
requests                      2.23.0         2.26.0       wheel
scikit-image                  0.18.3         0.19.1       wheel
scikit-learn                  1.0.1          1.0.2        wheel
scipy                         1.4.1          1.7.3        wheel
scs                           2.1.4          3.0.1        wheel
setuptools                    57.4.0         60.2.0       wheel
six                           1.15.0         1.16.0       wheel
sklearn-pandas                1.8.0          2.2.0        wheel
spacy                         2.2.4          3.2.1        wheel
Sphinx                        1.8.6          4.3.2        wheel
SQLAlchemy                    1.4.27         1.4.29       wheel
srsly                         1.0.5          2.4.2        wheel
statsmodels                   0.10.2         0.13.1       wheel
sympy                         1.7.1          1.9          wheel
tables                        3.4.4          3.7.0        wheel
tensorflow-datasets           4.0.1          4.4.0        wheel
tensorflow-io-gcs-filesystem  0.22.0         0.23.1       wheel
tensorflow-metadata           1.4.0          1.5.0        wheel
textblob                      0.15.3         0.17.1       wheel
thinc                         7.4.0          8.0.13       wheel
tomli                         1.2.2          2.0.0        wheel
torch                         1.10.0+cu111   1.10.1       wheel
torchaudio                    0.10.0+cu111   0.10.1       wheel
torchtext                     0.11.0         0.11.1       wheel
torchvision                   0.11.1+cu111   0.11.2       wheel
tornado                       5.1.1          6.1          wheel
tweepy                        3.10.0         4.4.0        wheel
typeguard                     2.7.1          2.13.3       wheel
typing-extensions             3.10.0.2       4.0.1        wheel
tzlocal                       1.5.1          4.1          wheel
uritemplate                   3.0.1          4.1.1        wheel
urllib3                       1.24.3         1.26.7       wheel
wasabi                        0.8.2          0.9.0        wheel
Werkzeug                      1.0.1          2.0.2        wheel
wheel                         0.37.0         0.37.1       wheel
wordcloud                     1.5.0          1.8.1        wheel
xarray                        0.18.2         0.20.2       wheel
xgboost                       0.90           1.5.1        wheel
xlrd                          1.1.0          2.0.1        wheel
zipp                          3.6.0          3.7.0        wheel

#### Установка библиотеки требуемой версии

Для установки библиотеки требуемой версии следует воспользоваться командой 
`pip install pandas==1.3.5`

In [ ]:
#pip install pandas==1.3.5

#### Удаление библиотеки

Для удаления любой библиотеки следует использовать команду `pip uninstall`. В частности, библиотека `pandas` удаляется следующим образом: 
```python
pip uninstall pandas
```

#### Подключение библиотеки к проекту

Для подключения библиотеки к проекту используется инструкция `import`. Она может использоваться в следующих вариантах:
- по имени библиотеки;
- по псевдониму библиотеки.

$\blacktriangleright$ По имени библиотеки:
```python
import pandas
```

$\blacktriangleright$ По псевдониму библиотеки (предпочтительный вариант):
```python
import pandas as pd
```
***

После импортирования библиотеки ее имя становится идентификатором, через который можно получить доступ к атрибутам или методам, определенным внутри библиотеки. Доступ к элементам библиотеки осуществляется с помощью точечной нотации.

<u> Пример </u>
```python
pandas.read_csv(...)
```
или 

```python
pd.read_csv(...)
```

*** 

В некоторых случаях может использоваться инструкция `from`. Ее формат таков:

```python
from <название модуля/библиотеки> import <Идентификатор 1> [as <Псевдоним 1>], 
                                  ....,  <Идентификатор N> [as <Псевдоним N>]
```
или 

```python
from <название модуля/библиотеки> import *
```
<u> Пример (несколько атрибутов) </u>
```python
from math import (pi, floor,
                  sin, cos)
```

<u> Пример (неудачное использование) </u>
```python
from pandas import read_csv as r_csv
df = r_csv('real_estate_data.csv', sep='\t')
```

In [ ]:
import pandas as pd
import numpy as np
import scipy
import sklearn

In [ ]:
pd.DataFrame()

#### Работа с файлом требований


Файлы требований позволяют точно указать, какие версии библиотек должны быть установлены. Команда `freeze` выводит установленные пакеты в формате требований. Можно использовать эту команду, перенаправляя вывод в файл для генерации файла требований:
```python
pip freeze >; requirements.txt
```

Для установки всех пакетов требуемых версий в другой системе, можно запустить `pip install`, указав файл требований с помощью ключа `-r`:
```python
pip install -r requirements.txt
```

##### Опции настройки вывода библиотеки `pandas`

Полный список опций представлен [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html). Дополнительную информацию можно найти в работе [3].

Для работы с настройками в библиотеке `pandas` имеются следующие функции.

|||
|---:|:---|
|Функция|Описание|
|`get_option()`|Получение значения параметра|
|`set_option()`|Установка нового значения параметра|
|`reset_option()`|Сброс параметра на значение “по умолчанию”|
|`describe_option()`|Вывод текстового описания параметра|
|`option_context()`|Присвоение параметрам новых значений в рамках определенного блока кода|

<u>Примеры использования.</u> 

$\blacktriangleright$ Для получения значения параметра используется функция `get_option()`, в качестве аргумента ей передается настраевыемый параметр в текстовом виде.

In [ ]:
#Максимальное количество выводимых строк:
pd.get_option('display.max_rows')

60

In [ ]:
#Используемая кодировка:
pd.get_option('display.encoding')

'UTF-8'

$\blacktriangleright$ Установка нового значения осуществляется с помощью функции
`set_option()`: ее первым аргументом является название параметра в
текстовом виде, вторым - новое значение параметра.

In [ ]:
pd.get_option('display.max_rows')

5

In [ ]:
pd.set_option('display.max_rows', 5)
pd.get_option('display.max_rows')

5

$\blacktriangleright$ Значение параметра можно сбросить на значение “по умолчанию”, для этого используется функция `reset_option()`.

In [ ]:
pd.reset_option('display.max_rows')
pd.get_option('display.max_rows')

60

$\blacktriangleright$ Описание параметра можно получить с помощью функции
`describe_option()`.

In [ ]:
pd.describe_option('display.max_rows')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

$\blacktriangleright$ Присвоение параметрам новых значений в рамках определенного блока кода с помощью функции `option_context()`.

In [ ]:
dollars = [1, 2.09, 0.8765, 34.5]
ser_example = pd.Series(data=dollars)
ser_example

0     1.0000
1     2.0900
2     0.8765
3    34.5000
dtype: float64

In [ ]:
with pd.option_context('display.float_format', '${:,.2f}'.format):
  display(ser_example)

0    $1.00
1    $2.09
2    $0.88
3   $34.50
dtype: float64

In [ ]:
ser_example

0     1.0000
1     2.0900
2     0.8765
3    34.5000
dtype: float64

<u>Замечание</u> Возможна работа с настройками как с атрибутами (через точку).

In [ ]:
pd.options.display.max_rows

60

In [ ]:
pd.options.display.max_rows = 5
pd.options.display.max_rows

5

В таблице перечислены некоторые параметры, определяющие вид объектов библиотеки `pandas` и их значения по умолчанию:

|Параметр|Значение по умолчанию|Описание|
|--:|:--|:--|
|`display.encoding`|`UTF-8`|Определяет кодировку для строк, возвращаемых через метод to_string, а также для отображения строк в консоли|
|`display.max_columns`|20|Определяет максимальное количество столбцов, которые будут выведены при отображении структур `pandas`|
|`display.max_colwidth`|50|Максимальная ширина столбца (в символах) для представления структур данных `pandas`|
|`display.max_rows`|60|Определяет максимальное количество строк, которые будут выведены при отображении структур `pandas`|
|`display.precision`|6|Определяет количество знаков после запятой при выводе чисел с плавающей точкой|
|`display.float_format`|`None`|Устанавливает формат вывода чисел с плавающей точкой|

### Структуры данных в `pandas`: `Series` и `DataFrame`

#### Маркированная одномерная структура данных `Series`

`Series` -- одномерный похожий на массив объект, содержащий массив одного и того же типа данных (любого типа, поддерживаемого `numpy`) и ассоциированный с ним массив меток, который называется *индексом*. Объект `Series` часто используется для вычисления статистик по отдельному признаку. С помощью индекса может осуществляться отбок значений объекта `Series`.

Темы текущего пункта:
- создание объекта `Series`;
- работа с элементами `Series`.

##### $\blacktriangleright$ Создание объекта `Series`: общие сведения

Создать структуру `Series` можно на базе следующих типов данных:
- словарь (`dict`) `Python`;
- список (`list`) `Python`;
- массив `ndarray` (функций библиотеки `numpy`);
- скалярная величина.

Конструктор класса `Series` выглядит следующим образом:
```python
Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```
Описание параметров:
- `data`: массив, словарь, скалярное значение; значение по умолчанию -- `None`. Структура, на базе которой будет построен Series;
- `index`: одномерный массив; значение по умолчанию -- `None`. Список меток, который будет использоваться для доступа к элементам `Series`. Длина списка должна быть равна длине `data`;
- `dtype:numpy.dtype`; значение по умолчанию -- `None`. Объект, определяющий тип данных;
- `name:object`; значение по умолчанию -- `None`. Параметр, позволяющий дать имя объекту `Series` объекту; 
- `copy: bool`; значение по умолчанию -- `False`. Если параметр равен `True`, то будет создана копия массива данных;
- `fastpath: bool`; значение по умолчанию -- `False`. Внутренний параметр, [умный пользователь не должен его трогать](https://github.com/pandas-dev/pandas/issues/6903).

##### $\blacktriangleright$ Создание объекта `Series`: список

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
xample_series = pd.Series(data = [1]*100, dtype='float', name = 'first' )
xample_series

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
95    1.0
96    1.0
97    1.0
98    1.0
99    1.0
Name: first, Length: 100, dtype: float64

In [ ]:
example_series = pd.Series(data = [1, 4, 7, 6], 
                           dtype = 'int64', 
                           name = 'value')
example_series

0    1
1    4
2    7
3    6
Name: value, dtype: int64

$\color{green}{{Комментарий:}}$ создали объект `Series` с именем `value`. Первый столбец представляет собой *индексные метки* объекта, а второй столбец содержит *значения* объекта. Указывается также тип данных значений объекта `Series`.

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание, что значение параметра `name` в заголовке созданного объекта `Series` не отображается, а приводится лишь в служебной информации. Далее будет показано, что при добавлении пободного объекта `Series` в датафрейм значение параметра `name` определяет:
- заголовок соответствующего столбца;
- индекс соответствующей строки.

In [ ]:
list_to_series = [1, 4, 7, 6]
example_series = pd.Series(list_to_series, index = ['one', 'two', 'three', 'four'], dtype = 'float64')
example_series

one      1.0
two      4.0
three    7.0
four     6.0
dtype: float64

In [ ]:
example_series = pd.Series([1,4,7,6], ['one', 'two', 'three', 'four'])
example_series

one      1
two      4
three    7
four     6
dtype: int64

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание, что параметры `data` и `index` явно можно не задавать. В этом случае элементы первого списка будут значениями серии, а элементы второго списка -- метками индекса. Если же в конструктор серии передается только один список, то его элементы будут значениями серии, а индекс примет значения $0,1,2,\ldots$.       

И еще несколько интересных приемов создания объекта `Series` из списка.

In [ ]:
example_series = pd.Series(list('12345'), index=list('abcde'))
example_series

a    1
b    2
c    3
d    4
e    5
dtype: object

In [ ]:
example_series = pd.Series([3]*4)
example_series

0    3
1    3
2    3
3    3
dtype: int64

##### $\blacktriangleright$ Создание объекта `Series`: словарь

Напомним, что словарь


Ключи словаря будут являться метками структуры `Series`, а значения словаря -- значениями структуры.

In [ ]:
three_example_series = pd.Series({0 : 'первый элемент серии', 
                                  1 : 'второй элемент серии',
                                  2 : 'третий элемент серии', 
                                  3 : 'последний элемент серии'})
three_example_series

0       первый элемент серии
1       второй элемент серии
2       третий элемент серии
3    последний элемент серии
dtype: object

##### $\blacktriangleright$ Создание объекта `Series`: массив `ndarray`

Объект `Series` можно создать из массива `ndarray`, генерируемого с помощью функций библиотеки `numpy`.

In [ ]:
example_series = pd.Series(np.arange(2,6))
example_series

0    2
1    3
2    4
3    5
dtype: int64

$\color{green}{{Комментарий:}}$ создается объект `Series` с целочисленными значениями с шагом $1$ из отрезка $[a;[b]-1]$, где $a, b$ -- параметры функции `arange`, $[\cdot]$ -- целая часть числа.

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание, что при создании массива функцией `arange()` правая граница интервала не включается.

In [ ]:
example_series = pd.Series(np.linspace(2, 6, 7))
example_series

0    2.000000
1    2.666667
2    3.333333
3    4.000000
4    4.666667
5    5.333333
6    6.000000
dtype: float64

$\color{green}{{Комментарий:}}$ создается объект `Series` с количеством значений $n$ из отрезка $[a;b]$, где $a, b, n$ -- параметры функции `linspace(a,b,n)`.

In [ ]:
pd.Series(np.random.seed(12))
example_series = pd.Series(np.random.normal(1,3, size=4))
example_series

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

0    2.418957
1   -1.044278
2    1.727318
3   -4.102207
dtype: float64

$\color{green}{{Комментарий:}}$ создается объект `Series`, значения которого подчиняются нормальному закону распределения с параметрами $E=1$ и $V=3$. Количество значений определяется параметром `size`. 

Метод `seed()` используется для инициализации случайных чисел. Этот применяется для хранения случайного метода генерации одних и тех же случайных чисел при многократном выполнении кода на одной или разных машинах.

$\color{cornflowerblue}{{Замечание:}}$ ознакомиться с имеющимися в модуле `random` законами распределений случайных величин можно [здесь](https://docs.python.org/3/library/random.html).

##### $\blacktriangleright$ Создание объекта `Series`: скалярная величина

In [ ]:
example_series = pd.read_

In [ ]:
example_series = pd.Series(5, index = np.arange(1,101))
example_series

1      5
2      5
3      5
4      5
5      5
      ..
96     5
97     5
98     5
99     5
100    5
Length: 100, dtype: int64

##### $\blacktriangleright$ Работа с элементами Series

$\color{cornflowerblue}{\checkmark}$ Доступ к индексу и значениям объекта `Series`

Доступ к индексу и значениям объекта `Series` можно получить с помощью свойств `.index` и `.values`, соответственно.

In [ ]:
example_series = pd.Series(np.arange(2,6))
example_series

0    2
1    3
2    4
3    5
dtype: int64

In [ ]:
example_series.unique()

array([2, 3, 4, 5])

$\color{green}{{Комментарий:}}$ результатом является объект массива `ndarray` из библиотеки `numpy`.

Узнать тип того или иного объекта можно с помощью метода `type()`.

In [ ]:
example_series.index

RangeIndex(start=0, stop=4, step=1)

$\color{green}{{Комментарий:}}$ результатом является объект `RangeIndex`, представляющий собой диапазон значений от стартового (**start**) до последнего значения (**stop**) с указанным шагом (**step**). 

`RangeIndex` -- один из типов индексов библиотеки `pandas`.

$\color{cornflowerblue}{\checkmark}$ Размерность объекта `Series`

Количество элементов в объекте `Series` можно определить следующими способами:
- [функцией `len()`](https://www.w3schools.com/python/ref_func_len.asp);
- [свойством `.size`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.size.html);
- [свойством `.shape`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html).

In [ ]:
len(example_series)

4

In [ ]:
example_series.size

4

In [ ]:
example_series.shape[0]

4

$\color{green}{{Комментарий:}}$ обратим внимание, что в общем случае свойство `shape` возвращает кортеж (тип данных `tuple`), состоящий из двух чисел. Здесь же приводится лишь первое значение этого кортежа, соответствующий количеству элементов в объекте `Series`.

Напомним, что доступ к элементам кортежа осуществляется с помощью квадратных скобок `[]`. Следовательно, при необходимости, чтобы получить размерность объекта `Series` с помощью свойства `shape` надо указать `example_series.shape[0]`

$\color{cornflowerblue}{{Замечание:}}$ в общем случае для определения размерности объектов `Series` или `DataFrame` рекомендуется пользоваться свойством `shape`, поскольку оно сразу возвращает количество строк и столбцов (в случае `DataFrame`).

$\color{cornflowerblue}{\checkmark}$ Вывод значений объекта `Series`

В библиотеке `pandas` имеются случающие методы для вывода значений объекта `Series` или `DataFrame`.

|Метод|Описание|
|--:|:--|
|[`.head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)|возвращает **первые** $n$ строк объекта. По умолчанию $n=5$|
|[`.tail()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)|возвращает **последние** $n$ строк объекта. По умолчанию $n=5$|
|[`.take()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.take.html)|возвращает строки с указанными позиционными индексами вдоль выбранной оси|

In [ ]:
example_series = pd.Series(data = [1,3,2,6,4,7,8,4,5,6,7,4], 
                           index = np.arange(30,42))
example_series

30    1
31    3
32    2
33    6
34    4
35    7
36    8
37    4
38    5
39    6
40    7
41    4
dtype: int64

In [ ]:
example_series.head(7)

30    1
31    3
32    2
33    6
34    4
35    7
36    8
dtype: int64

In [ ]:
example_series.tail(3)

39    6
40    7
41    4
dtype: int64

In [ ]:
example_series

30    1
31    3
32    2
33    6
34    4
35    7
36    8
37    4
38    5
39    6
40    7
41    4
dtype: int64

In [ ]:
example_series.take(np.arange(1,5))

31    3
32    2
33    6
34    4
dtype: int64

In [ ]:
example_series.sample(3)

38    5
35    7
33    6
dtype: int64

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание, что метод `take()` вернул строки с номерами 1, 2, 3 и 4, что не соответствует индексу рассматриваемого объекта `Series`. Иными словами, данный метод возвращает строки согласно их положению в объекте, а не индексу.

$\color{cornflowerblue}{\checkmark}$ Доступ к данным в объекте `Series`

Для получения значений объекта `Series` пользуются, как правило, следующими двумя способами:
- по **метке индекса**;
- по **позиции с началом отчета в 0**.

$\color{cornflowerblue}{\checkmark\checkmark}$ Доступ к данным в объекте `Series` **по метке индекса**

Доступ **по меткам индекса** предполагает поиск элементов объекта `Series`, метки индекса которых совпадают с заданными. Если задаются отсутствующие метки, то будет сгенерировано исключение `KeyError`. При этом метки индекса могут задаваться в виде:
- отдельных символов `['a']`;
- списка список меток `['a', 'b', 'c']`;

Доступ к элементам объекта по **метке индекса** реализуется посредством использования:
- оператора `[]`;
- свойства `.ix[]` --- начиная с версии `pandas 0.20.0` это свойство заменено;
- свойства `.loc[]`.

Рассмотрим примеры реализации данного способа доступа к данным.

$\color{cornflowerblue}{\checkmark\checkmark\checkmark}$ Доступ к данным в объекте `Series` по **метке индекса**: оператор `[]`

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', '1', '2', '3'])
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
example_series['a']

101

In [ ]:
example_series[['1','2']]

1    105
2    106
dtype: int64

In [ ]:
example_series[1]

102

In [ ]:
example_series = (pd.Series(data = [101, 102, 103, 104, 105, 106, 107], 
                          index = np.arange(1,8))
                 )
example_series

1    101
2    102
3    103
4    104
5    105
6    106
7    107
dtype: int64

In [ ]:
example_series[1]

101

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание, что в примере 
```python
example_series[1]

>> 102
```

код отработал не так, как мы ожидали --- результат вывода это вторая строка объекта `Series`. Это пример вывода по **позиции**, который будет рассматриваться далее. Следует быть внимательным при обращении к меткам индекса, так, в рассматриваемом примере метки являются объектами типа  `object` и обращаться к ним необходимо соответствующим образом. 

В дополнении к этому примеру заметим, что если бы индекс у рассматриваемого объекта был целочисленным, то обращение к элементам осуществлялось бы по **метке**. Предлагаем читателю самостоятельно задать объект `Series` с произвольным целочисленным индексом и поэкспериментировать.

$\color{cornflowerblue}{\checkmark\checkmark\checkmark}$ Доступ к данным в объекте `Series` по **метке индекса**: свойство `.loc[]`

In [ ]:
example_series.loc['a']

101

In [ ]:
lst_ind = ['a', 'b']
example_series.loc[lst_ind]

a    101
b    102
dtype: int64

In [ ]:
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
list('123')

['1', '2', '3']

In [ ]:
example_series.loc[list('123')]

1    105
2    106
3    107
dtype: int64

In [ ]:
example_series.loc['1']

105

In [ ]:
#целочисленный индекс --- доступ по метке
example_series1 = pd.Series(data = np.arange(101, 105), 
                            index = [0, 2, 1, 4])
example_series1

0    101
2    102
1    103
4    104
dtype: int64

In [ ]:
example_series1.loc[1]

103

In [ ]:
example_series1[1]

103

$\color{cornflowerblue}{{Замечание:}}$ здесь обратим внимание на то, что в примере 
```python
example_series1.loc[1]

>> 103
```
код отработал ожидаемо --- по **метке** индекса.

$\color{cornflowerblue}{\checkmark\checkmark}$ Доступ к данным в объекте `Series` по **позиции**

Доступ к данным по **позиции** основан на использовании целых чисел для доступа к данных. Если задаются отсутствующие позиции, то будет сгенерировано исключение `IndexError`. При этом позиции могут задаваться в виде:
- отдельных целых чисел `[2]`;
- массива целых чисел `[0, 4, 101]`.

Доступ к элементам объекта по **позиции** реализуется посредством использования:
- оператора `[]`;
- свойства `.iloc[]`.

Рассмотрим примеры реализации данного способа доступа к данным.

$\color{cornflowerblue}{\checkmark\checkmark\checkmark}$ Доступ к данным в объекте `Series` по **позиции**: оператор `[]`

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', '1', '2', '3'])
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
example_series[0]

101

In [ ]:
example_series[[0, 2]]

a    101
c    103
dtype: int64

$\color{cornflowerblue}{\checkmark\checkmark\checkmark}$ Доступ к данным в объекте `Series` по **позиции**: свойство `.iloc[]`

In [ ]:
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
example_series.iloc[0]

101

In [ ]:
example_series.iloc[[1, 2, 3]]

b    102
c    103
d    104
dtype: int64

In [ ]:
#целочисленный индекс -- доступ по позиции
example_series1 = pd.Series(data = np.arange(101, 105), 
                            index = [0, 1, 2, 3])
example_series1

0    101
1    102
2    103
3    104
dtype: int64

In [ ]:
example_series1.iloc[[2, 1]]

2    103
1    102
dtype: int64

$\color{green}{{Комментарий:}}$ во избежании путаницы рекомендуем при реализации доступа к элементам объекта `Series` 
по **метке индекса** применять свойство `.loc[]`, а по **позиции** --- свойство `.iloc[]`. 

Дополнительно об особенностях использования свойств `.loc[]` и `.iloc[]` можно почитать в работе [1](), стр.166.

$\color{cornflowerblue}{\checkmark}$ Создание срезов объекта `Series`

Срез --- объект, представляющий набор меток индекса или позиций, используемый для извлечения некоторой части данных.

Создание срезов или слайсинг (slicing) -- это способ извлечения подмножеств данных из различных структур, в частности из объекта `Series`.     

Объект-срез создается с помощью синтаксиса `start:end:step`, компоненты представляют собой первый элемент (`start`), последний элемент (`end`) и приращение, которое называют еще шагом (`step`). Каждый элемент среза является опциональным и может быть опущен. За счет этого обеспечивается больший контроль над последовательностью отбора элементов (отбирать в прямом или обратном порядке) или интервалом отбора элементов (отбирать каждый элемент, каждый второй элемент и т.д.).

Шаг среза (step) -- целое число, по умолчанию равен 1. Может принимать отрицательные значения.

$\color{red}{Для \,\, запонимания}:$ срез -- это набор меток индекса или позиций, который может передаваться оператору `[]` или свойствам `.loc[]` и `.loc[]` для доступа к данным. 

Рассмотрим примеры создания срезов.

$\color{cornflowerblue}{\checkmark\checkmark}$ Создание срезов объекта `Series`: оператор `[]`

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', 1, 2, 3])
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
example_series['a':'d']

a    101
b    102
c    103
d    104
dtype: int64

In [ ]:
example_series[1:4:1]

b    102
c    103
d    104
dtype: int64

In [ ]:
example_series[1:4]

b    102
c    103
d    104
dtype: int64

In [ ]:
example_series[1:4:2]

b    102
d    104
dtype: int64

In [ ]:
example_series[4:1:-1]

1    105
d    104
c    103
dtype: int64

In [ ]:
example_series[:4]

a    101
b    102
c    103
d    104
dtype: int64

In [ ]:
example_series[6:0:-1]

3    107
2    106
1    105
d    104
c    103
b    102
dtype: int64

In [ ]:
example_series[1:]

b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
#доступ к целочисленной части индекса по позиции, правая граница не включается
example_series[4:6]

1    105
2    106
dtype: int64

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание на следующие особенности работы оператора `[]` со срезом:
1. Доступ к элементам объекта осуществляется и по **меткам индекса**, и по **позиции**;
2. Если доступ осуществляется по
  
  2.1 **меткам индекса**, то **правая граница среза (end) ВКЛЮЧАЕТСЯ** в итоговый результат;

  2.2 **позиции**, то **правая граница среза (end) НЕ ВКЛЮЧАЕТСЯ** в итоговый результат.

$\color{cornflowerblue}{\checkmark\checkmark}$ Создание срезов объекта `Series`: свойство `.loc[]`

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', 1, 2, 3])
example_series.loc['a':'d']

a    101
b    102
c    103
d    104
dtype: int64

In [ ]:
#Попытка доступа к целочисленной части индекса приводит к ошибке! Почему? 
#example_series.loc[4:6]

In [ ]:
example_series1 = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = np.arange(7))
example_series1

0    101
1    102
2    103
3    104
4    105
5    106
6    107
dtype: int64

In [ ]:
example_series1.loc[1:3]

1    102
2    103
3    104
dtype: int64

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание на следующие особенности работы свойства `.loc[]` со срезом:
1. Доступ к элементам объекта осуществляется только по **меткам индекса**. При этом **правая граница среза (end) ВКЛЮЧАЕТСЯ** в итоговый результат.

$\color{cornflowerblue}{\checkmark\checkmark}$ Создание срезов объекта `Series`: свойство `.iloc[]`

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', 1, 2, 3])
example_series.iloc[0:3]

a    101
b    102
c    103
dtype: int64

In [ ]:
example_series1 = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = np.arange(7))
example_series1

In [ ]:
example_series1.iloc[1:3]

1    102
2    103
dtype: int64

$\color{cornflowerblue}{{Замечание:}}$ обратим внимание на следующие особенности работы свойства `.iloc[]` со срезом:
1. Доступ к элементам объекта осуществляется только по **позиции**. При этом **правая граница среза (end) НЕ ВКЛЮЧАЕТСЯ** в итоговый результат.

$\color{red}{Для \,\, запонимания}:$ еще раз обратим внимание на тот факт, что оператор `[]` осуществляет доступ к элементам объекта `Series` и по **метке индекса**, и по **позиции**. В случае, если у объекта целочисленный индекс, то использование оператора `[]` может привести к определенной путанице. 

В связи с этим повторим следующую рекомендацию:
- для организации доступа по **меткам индекса** использовать свойство `.loc[]`;
- для организации доступа по **позиции** использовать свойство `.iloc[]`.                      

$\color{OliveDrab}{\widehat{⨆}}$ Упражнение для закрепления материала
```python
example_series1[1:3]
```
Укажите результат?

$\color{cornflowerblue}{\checkmark}$ Фильтрация данных объекта `Series`

$\widehat{DEF.}$ Фильтрация данных -- вывод нужных пользователю данных, в результате созданного им запроса.

Выше рассматривался вопрос о доступе к элементам объекта `Series` с помощью индекса или позиции. В этой части материала остановимся на вопросе отбора (фильтрации) элементов объекта на основе их значений.

Для решения этого вопроса библиотека `pandas` предлагает воспользоваться логическим отбором (отбором на основе булевых значений).  Логический отбор применяет логическое выражение к значениям объекта `Series` и возвращает **новую серию той же размерности и с метками индекса**, как у исходного объекта. Значения возвращаемого нового объекта представляют собой результат применения заданного логического выражения к каждому значению исходного объекта и равны

$
\left[
\begin{array}{ll}
True, \text{если значение объекта соответствует заданному логическому выражению,}\\
False, \text{если значение объекта не соответствует заданному логическому выражению.}
\end{array}  
\right.  
$

Далее этот результат (новый объект `Series`, состоящий из логических значений) можно использовать для извлечения лишь тех значений исходного объекта, для которых получено значение `True`.


Логическое выражение может задаваться любые доступными способами, например, непосредственно или с помощью $\lambda$-функции.

Если задаваемое логическое выражение состоит из нескольких условий, то каждое из них нужно взять в круглые скобки `()` и соединить необходимыми двоичными операторами. Например, $(\text{условие 1}) \, \&  \, (\text{условие 2})$. 

|Двоичный оператор|Комментарий|
|--:|:--|
|`~`|двоичная инверсия (логическое отрицание)|
|`&`|двоичное `И`|
|$|$|двоичное `ИЛИ`|
|`^`|двоичное исключающее `ИЛИ`|

$\color{cornflowerblue}{{Замечание:}}$ следует запомнить, что ключевые слова `and` и `or` с булевыми массивами не работают. Используйте вместо них `&` (и) и `|` (или). Дополнительно о данной особенности можно почитать [здесь](https://overcoder.net/q/63576/%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5-%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B-%D0%B4%D0%BB%D1%8F-%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B3%D0%BE-%D0%B8%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B2-pandas) или в [2, стр.85].

Реализуется логический отбор либо с помощью оператора `[]`, либо с помощью свойства `.loc[]`. 

Рекомендуем также обратить внимание на следующие полезные методы

|Метод|Комментарий|
|--:|:--|
|[`.all()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.all.html)|возвращает `True`, если **все элементы** объекта удовлетворяют заданному условию, иначе `False`|
|[`.any()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.any.html)|возвращает `True`, если **хотя бы один элемент** объекта удовлетворяют заданному условию, иначе `False`|
|[`.sum()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)|возвращает сумму значений|
|[`.isin()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html)|возвращает булев массив, показывающий, содержится ли каждое принадлежащее `Series` значение в переданной последовательности|
|[`.unique()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html)|возвращает массив уникальных значений в Series и возвращает их в порядке появления|
|[`.nunique()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.nunique.html)|возвращает количество уникальных элементов в объекте|
|[`.value_counts()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)|возвращает объект Series, который содержит уникальное значение в качестве индекса и его частоту в качестве соответствующего значения|
|[`.nlargest()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.nlargest.html)|возвращает заданное $n$ наибольших значений объекта. По умолчанию $n=5$|
|[`.nsmalest()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.nsmallest.html)|возвращает заданное $n$ наименьших значений объекта. По умолчанию $n=5$|

Использование данных методов может быть полезным, в частности, при оценке корретности имеющихся данных, например, положительности данных о росте и т.п.  

Рассмотрим примеры фильтрации значений объекта `Series` с помощью логического отбора.

In [ ]:
example_series = pd.Series(data = [101, 102, 103, 104, 105, 106, 107],
                           index = ['a', 'b', 'c', 'd', 1, 2, 3])
example_series

a    101
b    102
c    103
d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
example_series > 103

a    False
b    False
c    False
d     True
1     True
2     True
3     True
dtype: bool

In [ ]:
example_series[example_series > 103]

d    104
1    105
2    106
3    107
dtype: int64

In [ ]:
(example_series > 103) & (example_series <= 106)

a    False
b    False
c    False
d     True
1     True
2     True
3    False
dtype: bool

In [ ]:
example_series[(example_series > 103) & 
               (example_series <= 106)]

d    104
1    105
2    106
dtype: int64

In [ ]:
example_series[~((example_series > 103) & 
               (example_series <= 106))]

a    101
b    102
c    103
3    107
dtype: int64

In [ ]:
~((example_series > 103) & (example_series <= 106))

a     True
b     True
c     True
d    False
1    False
2    False
3     True
dtype: bool

In [ ]:
example_series.loc[~((example_series > 103) & 
               (example_series <= 106))]

a    101
b    102
c    103
3    107
dtype: int64

In [ ]:
example_series[lambda x: ((x>103) & 
                         (x<106))]

d    104
1    105
dtype: int64

In [ ]:
example_series1 = pd.Series(data = [173, 0, -183, 190, 184, 183, 182],
                           index = np.arange(7))
example_series1

0    173
1      0
2   -183
3    190
4    184
5    183
6    182
dtype: int64

In [ ]:
(example_series1 > 0).all()

False

In [ ]:
(example_series1 >= 190).any().sum()

1

In [ ]:
example_series1 = pd.Series(data = ['м', 'ж', 'м', 'ж', 'мж'],
                           index = np.arange(5))
example_series1

0     м
1     ж
2     м
3     ж
4    мж
dtype: object

In [ ]:
example_series1.isin(['м', 'ж'])

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [ ]:
example_series1.loc[example_series1.isin(['м', 'ж'])]

Series([], dtype: object)

In [ ]:
example_series1.isin(['м', 'ж']))

1

In [ ]:
example_series1.unique()

array(['м', 'ж', 'мж'], dtype=object)

In [ ]:
example_series1.value_counts()

м     2
ж     2
мж    1
dtype: int64

In [ ]:
example_series1.nunique()

3

##### $\S$ Выравнивание данных

Выравнивание осуществляет автоматическое согласование связанных друг с другом значений в нескольких объектах `Series` на основе меток индекса. Наглядно процедура выравнивания демострируется при проведении арифметических операций над объектами `Series` с разными метками индексами. Так, например, если при сложении двух объектов
обнаруживаются различные пары индексов, то результирующий индекс будет
объединением индексов.    

Метки в индексах не обязательны для выравнивания. Если выравнивания не происходит, то `pandas` в качестве результата возвращает значение `NaN`.

Метки в индексе не обязательно должны быть уникальными. Операция выравнивания фактически образует декартово произведение меток в двух объектах `Series`. Если в первой серии имеется $n$ одинаковых меток, а во второй серии -- $m$ одинаковых меток, то в итоговом результате будет $n\cdot m$ одинаковых меток. 


Рассмотрим примеры.

In [ ]:
ser1 = pd.Series(data = np.arange(1,5),
                 index = np.arange(1,5))
ser1

1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
ser2 = pd.Series(data = np.arange(1,5),
                 index = np.arange(4,0, -1))
ser2

4    1
3    2
2    3
1    4
dtype: int64

In [ ]:
ser1+ser2

1    5
2    5
3    5
4    5
dtype: int64

In [ ]:
ser3 = pd.Series(data = np.arange(1,6),
                 index = np.arange(1,6))
ser3

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
ser1+ser3

1    2.0
2    4.0
3    6.0
4    8.0
5    NaN
dtype: float64

In [ ]:
ser4 = pd.Series([1.0, 2.0, 3.0], index=[1, 1, 2])
ser4

1    1.0
1    2.0
2    3.0
dtype: float64

In [ ]:
ser5 = pd.Series([1.0, 2.0, 3.0], index=[1, 1, 1])
ser5

1    1.0
1    2.0
1    3.0
dtype: float64

In [ ]:
ser4+ser5

1    2.0
1    3.0
1    4.0
1    3.0
1    4.0
1    5.0
2    NaN
dtype: float64

#### Маркированная многомерная структура данных  `DataFrame`

`DataFrame` --- это проиндексированный многомерный массив значений, в котором каждый столбец является структурой `Series`. Каждая строка датафрейма описывает различные характеристики исследуемого субъекта и каждый столбец может представлять различные типы данных.

Рассмотрим следующие вопросы по работе с датафреймом:
- создание датафрейма;
- определение размерности датафрейма;
- назначение и изменение столбцов в датафрейме;
- отбор строк и столбцов датафрейма;
- создание среза датафрейма.

#### Создание датафрейма

Конструктор класса `DataFrame` выглядит так:

```python
DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
```

Параметры конструктора:

|Параметр|Комментарий|
|--:|:--|
|`data`: `ndarray`, `dict` или `DataFrame`; значение по умолчанию: `None`|Данные, на базе которых будет создан `DataFrame`|
|`index`: одномерный массив; значение по умолчанию: `None`|Список меток для записей (имена строк таблицы)|
|`columns`: одномерный массив; значение по умолчанию: `None`|Список меток для полей (имена столбцов таблицы)|
|`dtype`: `numpy.dtype`; значение по умолчанию: `None`|Объект, определяющий тип данных|
|`copy`: `bool`; значение по умолчанию: `False`|Если параметр равен `True`, то будет создана копия массива данных|

Структуру DataFrame можно создать на базе следующих типов данных:
- словарь (dict), в качестве элементов которого могут выступать: одномерные ndarray, списки, другие словари, структуры Series;
- двумерный ndarray;
- структура Series;
- другой DataFrame;
- из внешних источников (работа с внешними источниками).

##### Создание датафрейма: серия

In [ ]:
series1_to_df = pd.Series([1,2,3,4], name = 'ser1')
series2_to_df = pd.Series([5,6,7,8], name = 'ser2')

In [ ]:
#из одного объекта Series
df = pd.DataFrame(series1_to_df)
df

   ser1
0     1
1     2
2     3
3     4

In [ ]:
#из нескольких объектов Series
df = pd.DataFrame([series1_to_df, series2_to_df])
df

      0  1  2  3
ser1  1  2  3  4
ser2  5  6  7  8

$\color{cornflowerblue}{{Замечание:}}$ Для того, чтобы транспонировать датафрейм можно воспользоваться свойством [.T](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.T.html).

In [ ]:
df_T = df.T
df_T

   ser1  ser2
0     1     5
1     2     6
2     3     7
3     4     8

##### Создание датафрейма: словарь

In [ ]:
dict_to_df = {'col1':[1,'2',3,4],
              'col2':[5,6,7,8]
              }
df = pd.DataFrame(dict_to_df, 
                  index = np.arange(1,5))
df

  col1  col2
1    1     5
2    2     6
3    3     7
4    4     8

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 96.0+ bytes

In [ ]:
dict_to_df = {'col1': pd.Series(data = np.arange(1,5)),
              'col2': pd.Series(data = np.arange(1,6))
              }

In [ ]:
#выравнивание датафрейма
df = pd.DataFrame(dict_to_df)
df

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   4.0     4
4   NaN     5

In [ ]:
dict_to_df = [{'product': 'Апельсин', 'price': 2, 'count': 3},
             {'product': 'Мандарин', 'price': 4, 'count': 5, 'count1': 5}]

In [ ]:
df = pd.DataFrame(dict_to_df)
df

    product  price  count  count1
0  Апельсин      2      3     NaN
1  Мандарин      4      5     5.0

##### Создание датафрейма: результатов функция `numpy`

In [ ]:
data = np.array([[10, 11], [20, 21]]) 
df = pd.DataFrame(data)
df

    0   1
0  10  11
1  20  21

##### Создание датафрейма: из других датафреймов

In [ ]:
purchase_1 = pd.Series({'Name': 'JJ',
                        'Item': 'A',
                        'Cost': 22.00})
purchase_2 = pd.Series({'Name': 'KK',
                        'Item': 'B',
                        'Cost': 22.50})

dfn = pd.DataFrame([purchase_1, purchase_2], index=['Store X', 'Store Y'])

dfn = dfn.append(pd.Series(data={'Cost': 30.00, 'Item': 'C','Name': 'TT'}, name='00Store Y'))
dfn

          Name Item  Cost
Store X     JJ    A  22.0
Store Y     KK    B  22.5
00Store Y   TT    C  30.0

##### Создание датафрейма: игрушечные данные, сбор промежуточных данных

In [ ]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.016400,0.533106,0.556849,0.880720,0.377556,0.105608,0.645108,0.647871
1,0.405220,0.039243,0.624034,0.787297,0.675635,0.456310,0.552630,0.119901
2,0.843469,0.137704,0.409594,0.285665,0.456518,0.841911,0.410225,0.807062
3,0.008055,0.100904,0.803350,0.725829,0.782117,0.302863,0.953277,0.311958

##### Работа с внешними источниками данных

###### Работа с данными в формате [`CSV`](https://ru.wikipedia.org/wiki/CSV#:~:text=CSV%20(%D0%BE%D1%82%20%D0%B0%D0%BD%D0%B3%D0%BB.,%D0%A4%D0%BE%D1%80%D0%BC%D0%B0%D1%82%20CSV%20%D1%81%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D0%B8%D0%B7%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%20%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BB%D0%BD%D0%BE%D1%81%D1%82%D1%8C%D1%8E.)

Предположим, что исследуемые данные хранятся в `csv`-файле. Требуется загрузить данные из этого файла в соответствующую структуру библиотеки `pandas` для последующей обработки. 

Для загрузки данных из `csv`-файла воспользуемся методом `read_csv()`. В связи с тем, что в исходных данных может быть множество различных особенностей этот метод имеет множество аргументов загрузки. Перечислим наиболее актуальные из них:
- **`filepath_or_buffer`** --- строка, содержащая путь до файла или буфера c данными в формате `CSV`;
- **`sep`**, **`delimiter`** --- строка, задающая разделитель между полями загружаемых  данных. Она может содержать последовательность символов или регулярное выражение. Распространенными разделителями также являются `;` и `\t`. По умолчанию аргумент `sep=','`, а `delimiter=None`. При задании эти два аргумента являются эквивалентными, однако, на практике чаще используется аргумент **`sep`**;
- **`usecols`** --- список загружаемых столбцов;
- **`header`** --- номер строки, содержащей имена столбцов. По умолчанию равен **`header = 0`** (первая строка). Если строки-заголовка нет, то аргумент должен быть равен **`header = None`**. При этом имена столбцов можно задать в параметре  **`names`**. Обратим внимание, что если вначале файла идут пустые строки или строки с комментариями, а далее строка с именами столбцов, то необходимо положить **`skip_blank_lines=True`**;
- **`names`** --- список имен столбцов таблицы, используется, если в файле нет
строки с именами столбцов и аргумент **`header=None`**. По умолчанию **`names=None`**;
- **`index_col`** --- номера или имена столбцов, трактуемых как индекс строк в результирующем объекте. Может быть задан один номер (имя) или список номеров (имен), определяющий иерархический индекс;
- **`usecols`** --- список имен или индексов столбцов, которые подлежат загрузке;
- **`dtype`** --- тип загружаемых данных в целом или словарь, в котором ключами будут имена столбцов, а значениями --- типы столбцов;
- **`nrows`** --- количество читаемых строк от начала файла;
- **`iterator`** --- возвращает объект TextParser для чтения файла порциями;
- **`chunksize`** --- размер порции при итерировании.

##### Работа с форматом `csv`

In [ ]:
df = pd.read_csv('data/real_estate_data.csv',
                 delimiter = '\t'
                 #usecols = ['total_images', 'last_price']
                 #nrows = 3 
                 )
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000.0,133.81,2017-03-21T00:00:00,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000.0,59.00,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000.0,56.70,2018-02-11T00:00:00,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Работа с форматом `xlsx`

In [ ]:
df_from_xlsx = pd.read_excel('data/lst_abitur.xlsx', sheet_name = 'Лист1' 
                             )
df_from_xlsx

   a  b  c
0  1  2  4
1  5  6  7

##### Загрузка данных: нескольких файлов

Создание датафрейма из нескольких файлов (по строкам)

Допустим, ваш набор данных распределен по нескольким файлам, но вы хотите собрать набор данных в один датафрейм. Будем также считать, что вы знаете заголовки требуемых столбцов:

|Признак|Комментарий|
|--:|:--|
|`user_id`|уникальный идентификатор клиента|
|`surname`|фамилия клиента|
|`name`|имя клиента|
|`date_of_birth`|дата рождения клиента|

Предположим также, что исходные данные хранятся в файлах `user1.csv`, `user2.csv` и `user3.csv`.

Вы можете прочитать каждый CSV-файл в свой собственный DataFrame, объединить их вместе, а затем удалить исходные DataFrames, но это будет неэффективно с точки зрения использования памяти и потребует большого количества кода.

Лучшим решением является использование встроенного модуля `glob`.

Однако прежде прочтем один файл и посмотрим на его структуру.

In [ ]:
read_columns = ['user_id', 'surname', 'name', 'date_of_birth']

In [ ]:
pd.read_csv('user1.csv', 
            usecols = read_columns)

   user_id    surname     name date_of_birth
0       11    Сидоров     Иван    1982-05-04
1       12     Иванов  Николай    1983-09-12
2       13     Петров     Петр    1983-12-12
3       14  Гришечкин  Алексей    1985-01-13
4       15  Афанасьев   Сергей    1986-08-15
5       16      Мимин   Андрей    1985-01-15

In [ ]:
from glob import glob

Вы можете передать шаблон в `glob()`, включая подстановочные знаки, и он вернет список всех файлов, соответствующих этому шаблону.

В этом случае метод `glob` в папке `data` ищет все `CSV`-файлы, начинающиеся со слова `user`.

In [ ]:
stock_files = sorted(glob('user*.csv'))
#stock_files = ['1.csv', 'test.csv']
stock_files

['user1.csv', 'user2.csv', 'user3.csv']

`glob` возвращает имена файлов в произвольном порядке, поэтому мы отсортировали список с помощью встроенной в Python функции `sorted()`.

Затем мы можем использовать выражение генератора для чтения каждого из файлов с помощью `read_csv()` и передать результаты функции `concat()`, которая объединит строки в один `DataFrame`

In [ ]:
pd.concat((pd.read_csv(file) for file in stock_files))

   Unnamed: 0  user_id    surname       name date_of_birth     city
0           0       11    Сидоров       Иван    1982-05-04      NaN
1           1       12     Иванов    Николай    1983-09-12      NaN
2           2       13     Петров       Петр    1983-12-12      NaN
3           3       14  Гришечкин    Алексей    1985-01-13      NaN
4           4       15  Афанасьев     Сергей    1986-08-15      NaN
5           5       16      Мимин     Андрей    1985-01-15      NaN
0           0       23    Петрова  Анастасия    1986-02-12      NaN
1           1       24   Сидорова    Людмила    1984-12-25      NaN
2           2       25    Иванова      Ирина    1986-04-15      NaN
3           3       26    Фирсова       Анна    1985-06-23      NaN
0           0       33     Малкин   Афанасий    1986-05-12     Орел
1           1       34   Протасов      Тарас    1992-12-25  Воронеж
2           2       35   Кочергин   Григорий    1987-02-25     Елец

К сожалению, теперь в индексе есть повторяющиеся значения. Чтобы избежать этого, мы можем указать функции `concat()` игнорировать индекс и вместо этого использовать целочисленный индекс по умолчанию.

In [ ]:
pd.concat((pd.read_csv(file, usecols = read_columns) for file in stock_files), ignore_index=True)

    user_id    surname       name date_of_birth
0        11    Сидоров       Иван    1982-05-04
1        12     Иванов    Николай    1983-09-12
2        13     Петров       Петр    1983-12-12
3        14  Гришечкин    Алексей    1985-01-13
4        15  Афанасьев     Сергей    1986-08-15
5        16      Мимин     Андрей    1985-01-15
6        23    Петрова  Анастасия    1986-02-12
7        24   Сидорова    Людмила    1984-12-25
8        25    Иванова      Ирина    1986-04-15
9        26    Фирсова       Анна    1985-06-23
10       33     Малкин   Афанасий    1986-05-12
11       34   Протасов      Тарас    1992-12-25
12       35   Кочергин   Григорий    1987-02-25

Создание датафрейма из нескольких файлов (по столбцам)

Предположим теперь, что каждый файл будет содержать столбцы из единого набора данных. Давайте соберем единый датафрейм с столбцов, содержащихся в разных файлах.

In [ ]:
pd.read_csv('user1.csv').head()

   Unnamed: 0  user_id    surname     name date_of_birth
0           0       11    Сидоров     Иван    1982-05-04
1           1       12     Иванов  Николай    1983-09-12
2           2       13     Петров     Петр    1983-12-12
3           3       14  Гришечкин  Алексей    1985-01-13
4           4       15  Афанасьев   Сергей    1986-08-15

In [ ]:
pd.read_csv('session_user1.csv').head()

   Unnamed: 0  session_id           time_start             time_end
0           0        1111  1982-05-04:12-35-56  1982-05-04:13-05-34
1           1        1222  1983-09-12:23-01-06  1983-09-12:23-05-56
2           2        1333  1983-12-12:05-25-13  1983-12-12:06-00-06
3           3        1444  1985-01-13:10-39-24  1985-01-13:10-40-56
4           4        1555  1986-08-15:12-37-42  1986-08-15:14-18-19

Создадим верную последовательность файлов для чтения.

In [ ]:
lst_file = ['user1.csv', 'session_user1.csv']

С помощью метода `concat()` выполним конкатенацию данных вдоль оси столбцов

In [ ]:
df = pd.concat((pd.read_csv(file) for file in lst_file), axis='columns').head()
df

,Unnamed: 0,user_id,surname,name,date_of_birth,Unnamed: 0,session_id,time_start,time_end
0,0,11,Сидоров,Иван,1982-05-04,0,1111,1982-05-04:12-35-56,1982-05-04:13-05-34
1,1,12,Иванов,Николай,1983-09-12,1,1222,1983-09-12:23-01-06,1983-09-12:23-05-56
2,2,13,Петров,Петр,1983-12-12,2,1333,1983-12-12:05-25-13,1983-12-12:06-00-06
3,3,14,Гришечкин,Алексей,1985-01-13,3,1444,1985-01-13:10-39-24,1985-01-13:10-40-56
4,4,15,Афанасьев,Сергей,1986-08-15,4,1555,1986-08-15:12-37-42,1986-08-15:14-18-19

In [ ]:
df.drop(columns = ['Unnamed: 0'], inplace =True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        5 non-null      int64
 1   surname        5 non-null      object
 2   name           5 non-null      object
 3   date_of_birth  5 non-null      object
 4   session_id     5 non-null      int64
 5   time_start     5 non-null      object
 6   time_end       5 non-null      object
dtypes: int64(2), object(5)
memory usage: 408.0+ bytes

Создание датафреймов из нескольких файлов

In [ ]:
list_dict = {'Таблица "Информация о посещениях сайта"' : '/data/visits_log.csv', 
            'Таблица "Информация о заказах"' : '/data/orders_log.csv',
             'Таблица "Информация о расходах на маркетинг"' : '/data/costs.csv',
            }
df_list=[]
for i in list_dict.values():
    df_list.append(pd.read_csv(i))
    print('Прочитан файл {}'.format(i))
globals()['df'+'_clients'] = df_list[0]

#### Просмотр фрагмента данных

Методы `head()`, `tail()`, `sample()` и `take()`.

In [ ]:
df.head(2)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.7,16.0,51.0,8,NaN,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0

In [ ]:
df.tail(2)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.0,17.0,NaN,12,NaN,...,23.3,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.5,5.0,12.3,1,NaN,...,9.0,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.sample(2)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
20416,7,14780000.0,77.1,2018-10-25T00:00:00,2,NaN,4.0,33.9,4,NaN,...,15.8,NaN,Санкт-Петербург,18617.0,17465.0,1.0,1767.0,3.0,111.0,170.0
22847,3,2100000.0,32.2,2017-06-02T00:00:00,1,NaN,5.0,18.4,3,NaN,...,5.4,0.0,посёлок Понтонный,31458.0,33170.0,0.0,NaN,0.0,NaN,88.0

In [ ]:
df.take([1,2,3])

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0

#### Определение размерности датафрейма

Команды `len`, `shape`

In [ ]:
len(df)

23699

In [ ]:
df.shape

(23699, 22)

In [ ]:
type(df.columns)

pandas.core.indexes.base.Index

In [ ]:
len(df.columns)

22

#### Типы данных

In [ ]:
df.dtypes

total_images              int64
last_price              float64
total_area              float64
first_day_exposition     object
rooms                     int64
ceiling_height          float64
floors_total            float64
living_area             float64
floor                     int64
is_apartment             object
studio                     bool
open_plan                  bool
kitchen_area            float64
balcony                 float64
locality_name            object
airports_nearest        float64
cityCenters_nearest     float64
parks_around3000        float64
parks_nearest           float64
ponds_around3000        float64
ponds_nearest           float64
days_exposition         float64
dtype: object

In [ ]:
#df = df.coconvert_dtypes()

AttributeError: ignored

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  Int64
 1   last_price            23699 non-null  Int64
 2   total_area            23699 non-null  Float64
 3   first_day_exposition  23699 non-null  string
 4   rooms                 23699 non-null  Int64
 5   ceiling_height        14504 non-null  Float64
 6   floors_total          23613 non-null  Int64
 7   living_area           21796 non-null  Float64
 8   floor                 23699 non-null  Int64
 9   is_apartment          2775 non-null   boolean
 10  studio                23699 non-null  boolean
 11  open_plan             23699 non-null  boolean
 12  kitchen_area          21421 non-null  Float64
 13  balcony               12180 non-null  Int64
 14  locality_name         23650 non-null  string
 15  airports_nearest      18157 non-null  Int64
 16  cityCenters_nearest   18180 non-null  Int64
 17  parks_around3000      18181 non-null  Int64
 18  parks_nearest         8079 non-null   Int64
 19  ponds_around3000      18181 non-null  Int64
 20  ponds_nearest         9110 non-null   Int64
 21  days_exposition       20518 non-null  Float64
dtypes: Float64(5), Int64(12), boolean(3), string(2)
memory usage: 4.0 MB

In [ ]:
df = df.convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  Int64
 1   last_price            23699 non-null  Int64
 2   total_area            23699 non-null  Float64
 3   first_day_exposition  23699 non-null  string
 4   rooms                 23699 non-null  Int64
 5   ceiling_height        14504 non-null  Float64
 6   floors_total          23613 non-null  Int64
 7   living_area           21796 non-null  Float64
 8   floor                 23699 non-null  Int64
 9   is_apartment          2775 non-null   boolean
 10  studio                23699 non-null  boolean
 11  open_plan             23699 non-null  boolean
 12  kitchen_area          21421 non-null  Float64
 13  balcony               12180 non-null  Int64
 14  locality_name         23650 non-null  string
 15  airports_nearest      18157 non-null  Int64
 16  cityCenters_nearest   18180 non-null  Int64
 17  parks_around3000      18181 non-null  Int64
 18  parks_nearest         8079 non-null   Int64
 19  ponds_around3000      18181 non-null  Int64
 20  ponds_nearest         9110 non-null   Int64
 21  days_exposition       20518 non-null  Float64
dtypes: Float64(5), Int64(12), boolean(3), string(2)
memory usage: 4.0 MB

##### Описательные статистики

In [ ]:
df.describe(percentiles=[0.03, 0.25, 0.75, 0.95])

,total_images,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
count,23699.000000,2.369900e+04,23699.000000,23699.000000,14504.000000,23613.000000,21796.000000,23699.000000,2775,23699,23699,21421.000000,12180.000000,18157.000000,18180.000000,18181.000000,8079.000000,18181.000000,9110.000000,20518.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2725,23550,23632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,9.858475,6.541549e+06,60.348651,2.070636,2.771499,10.673824,34.457852,5.892358,NaN,NaN,NaN,10.569807,1.150082,28793.672193,14191.277833,0.611408,490.804555,0.770255,517.980900,180.888634
std,5.682529,1.088701e+07,35.654083,1.078405,1.261056,6.597173,22.030445,4.885249,NaN,NaN,NaN,5.905438,1.071300,12630.880622,8608.386210,0.802074,342.317995,0.938346,277.720643,219.727988
min,0.000000,1.219000e+04,12.000000,0.000000,1.000000,1.000000,2.000000,1.000000,NaN,NaN,NaN,1.300000,0.000000,0.000000,181.000000,0.000000,1.000000,0.000000,13.000000,1.000000
3%,0.000000,1.550000e+06,30.000000,1.000000,2.500000,3.000000,14.700000,1.000000,NaN,NaN,NaN,5.200000,0.000000,10663.000000,2617.220000,0.000000,58.000000,0.000000,68.000000,7.000000
25%,6.000000,3.400000e+06,40.000000,1.000000,2.520000,5.000000,18.600000,2.000000,NaN,NaN,NaN,7.000000,0.000000,18585.000000,9238.000000,0.000000,288.000000,0.000000,294.000000,45.000000
50%,9.000000,4.650000e+06,52.000000,2.000000,2.650000,9.000000,30.000000,4.000000,NaN,NaN,NaN,9.100000,1.000000,26726.000000,13098.500000,0.000000,455.000000,1.000000,502.000000,95.000000
75%,14.000000,6.800000e+06,69.900000,3.000000,2.800000,16.000000,42.300000,8.000000,NaN,NaN,NaN,12.000000,2.000000,37273.000000,16293.000000,1.000000,612.000000,1.000000,729.000000,232.000000
95%,20.000000,1.530000e+07,116.000000,4.000000,3.300000,25.000000,69.000000,16.000000,NaN,NaN,NaN,20.000000,2.000000,51340.000000,31671.600000,2.000000,968.000000,3.000000,976.550000,647.000000
max,50.000000,7.630000e+08,900.000000,19.000000,100.000000,60.000000,409.700000,33.000000,NaN,NaN,NaN,112.000000,5.000000,84869.000000,65968.000000,3.000000,3190.000000,3.000000,1344.000000,1580.000000

#### Дублирующиеся записи

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
23694    False
23695    False
23696    False
23697    False
23698    False
Length: 23699, dtype: bool

#### Пропущенные значения

In [ ]:
df.isna().sum()

total_images                0
last_price                  0
total_area                  0
first_day_exposition        0
rooms                       0
ceiling_height           9195
floors_total               86
living_area              1903
floor                       0
is_apartment            20924
studio                      0
open_plan                   0
kitchen_area             2278
balcony                 11519
locality_name              49
airports_nearest         5542
cityCenters_nearest      5519
parks_around3000         5518
parks_nearest           15620
ponds_around3000         5518
ponds_nearest           14589
days_exposition          3181
dtype: int64

|Признак|Комментарий|
|--:|:--|
|`days_exposition`|<s>Привести тип к `float`, исследовать аномалии, пропуски</s>|

#### Доступ к данным

Доступ: 
- столбцам;
- строкам;
- срезы.

`Через точку` (атрибутивный) и через `указание имени`.

##### Доступ к столбцам

In [ ]:
df['total_area'];

In [ ]:
lst_col = ['total_images', 'last_price', 'total_area']
df[lst_col]

       total_images  last_price  total_area
0                20    13000000       108.0
1                 7     3350000        40.4
2                10     5196000        56.0
3                 0    64900000       159.0
4                 2    10000000       100.0
...             ...         ...         ...
23694             9     9700000      133.81
23695            14     3100000        59.0
23696            18     2500000        56.7
23697            13    11475000       76.75
23698             4     1350000        32.3

[23699 rows x 3 columns]

##### Доступ к строкам

In [ ]:
df[1:4:2]

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,7,3350000,40.4,2018-12-04T00:00:00,1,<NA>,11,18.6,1,<NA>,...,11.0,2,посёлок Шушары,12817,18603,0,<NA>,0,<NA>,81.0
3,0,64900000,159.0,2015-07-24T00:00:00,3,<NA>,14,<NA>,9,<NA>,...,<NA>,0,Санкт-Петербург,28098,6800,2,84,3,234,424.0

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0

##### [Работа с `.loc[]` `.iloc[]`](https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79)

In [ ]:
dict_to_df = {'student_fio': ['Иванов', 'Петров', 'Сидорова', 'Волкова', 'Сотников'],
              'gender' : ['M', 'M', 'F', 'F', 'M'],
              'age' : [23, 23, 24, 25, 36],
              'curs' : [1,2,2,4,4]}

df = pd.DataFrame(dict_to_df, index = ['st1', 'st2', 'st3', 'st4', 'st5'])
df

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2
st3    Сидорова      F   24     2
st4     Волкова      F   25     4
st5    Сотников      M   36     4

In [ ]:
df.loc['st1']

pandas.core.series.Series

In [ ]:
df.loc[['st1', 'st2']]

pandas.core.frame.DataFrame

In [ ]:
df.loc[:,['student_fio', 'gender']]

    student_fio gender
st1      Иванов      M
st2      Петров      M
st3    Сидорова      F
st4     Волкова      F
st5    Сотников      M

In [ ]:
df.loc[['st1', 'st2'], :]

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2

In [ ]:
df.loc[['st1', 'st2'],['student_fio', 'gender']]

    student_fio gender
st1      Иванов      M
st2      Петров      M

In [ ]:
df.loc['st1':'st5', ['student_fio', 'gender']]

    student_fio gender
st1      Иванов      M
st2      Петров      M
st3    Сидорова      F
st4     Волкова      F
st5    Сотников      M

In [ ]:
df.loc[[True, True, True, False, False], ['student_fio', 'gender']]

    student_fio gender
st1      Иванов      M
st2      Петров      M
st3    Сидорова      F

In [ ]:
df.iloc[[1,3,4]]

    student_fio gender  age  curs
st2      Петров      M   23     2
st4     Волкова      F   25     4
st5    Сотников      M   36     4

In [ ]:
df.iloc[[1,3,4], [1,2]]

    gender  age
st2      M   23
st4      F   25
st5      M   36

In [ ]:
df.iloc[:, [True, True, False, False]]

    student_fio gender
st2      Петров      M
st4     Волкова      F
st5    Сотников      M

Замечание: С помощью цепочки методов `.index.get_loc('здесь_метка_индекса')` можно получить номер позиции метки индекса и воспользоваться методом `.iloc[]`

##### Доступ к скалярному значению по метке `.at[]` и по позиции `iat[]`

In [ ]:
df.at['st4', 'student_fio'] = "Зайцев"

In [ ]:
df

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2
st3    Сидорова      F   24     2
st4      Зайцев      F   25     4
st5    Сотников      M   36     4

In [ ]:
df.iat[3, 0]

'Волкова'

#### Фильтрация данных

Логический отбор

оператор `isin()`

метод `.query()` про inplace = True

In [ ]:
df[(df.ceiling_height >= 2.2) & 
       (df.ceiling_height <= 4) & 
       (df.rooms == 2)].shape[0]

4826

In [ ]:
grade = [2]

In [ ]:
df[df.ceiling_height.isin([2, 2.5])]

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
9,18,5400000.0,61.0,2017-02-26T00:00:00,3,2.5,9.0,43.6,7,NaN,...,6.5,2.0,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289.0
18,8,3250000.0,31.0,2017-01-27T00:00:00,1,2.5,5.0,19.4,2,NaN,...,5.6,1.0,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,NaN,168.0
37,10,1990000.0,45.8,2017-10-28T00:00:00,2,2.5,5.0,NaN,1,NaN,...,NaN,NaN,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196.0
49,1,3050000.0,30.8,2018-11-22T00:00:00,1,2.5,9.0,18.0,7,NaN,...,6.0,NaN,Санкт-Петербург,45341.0,16603.0,1.0,675.0,0.0,NaN,NaN
64,13,3100000.0,44.3,2017-11-07T00:00:00,2,2.5,5.0,29.0,5,NaN,...,5.3,NaN,Гатчина,NaN,NaN,NaN,NaN,NaN,NaN,143.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23681,13,5250000.0,43.0,2018-05-11T00:00:00,2,2.5,5.0,29.0,2,NaN,...,6.0,NaN,Санкт-Петербург,28323.0,7262.0,1.0,497.0,2.0,660.0,80.0
23682,11,2350000.0,35.6,2016-06-23T00:00:00,1,2.5,5.0,17.0,4,False,...,8.3,2.0,Выборг,NaN,NaN,NaN,NaN,NaN,NaN,40.0
23683,16,2100000.0,62.8,2018-09-18T00:00:00,4,2.5,5.0,45.5,3,NaN,...,5.5,NaN,посёлок Дзержинского,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23685,15,2490000.0,31.0,2019-01-24T00:00:00,1,2.5,5.0,17.3,5,NaN,...,5.6,1.0,Ломоносов,48393.0,51818.0,0.0,NaN,0.0,NaN,NaN
23698,4,1350000.0,32.3,2017-07-21T00:00:00,1,2.5,5.0,12.3,1,NaN,...,9.0,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df['curs'].isin([1, 2])]

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2
st3    Сидорова      F   24     2

In [ ]:
df.query("gender == 'M' and curs == 2")

    student_fio gender  age  curs
st2      Петров      M   23     2

##### Отбор строк и столбцов через фильтрацию

In [ ]:
df.loc[((df.curs.isin([1,2])) &
        (df.gender == 'F')), 'student_fio']

st3    Сидорова
Name: student_fio, dtype: object

##### Модификация датафрейма

In [ ]:
df.loc[~((df.curs.isin([1,2])) & (df.gender == 'F')), 'new_colun']=1
df

    student_fio gender  age  curs  new_colun
st1      Иванов      M   23     1        1.0
st2      Петров      M   23     2        1.0
st3    Сидорова      F   24     2        NaN
st4     Волкова      F   25     4        1.0
st5    Сотников      M   36     4        1.0

In [ ]:
df.loc['st3', 'age'] = 123
df

    student_fio gender  age  curs  new_colun
st1      Иванов      M   23     1        1.0
st2      Петров      M   23     2        1.0
st3    Сидорова      F  123     2        NaN
st4     Волкова      F   25     4        1.0
st5    Сотников      M   36     4        1.0

In [ ]:
df[df.age == 23].age

st1    23
st2    23
Name: age, dtype: int64

In [ ]:
df

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2
st3    Сидорова      F  123     2
st4     Волкова      F   25     4
st5    Сотников      M   36     4

In [ ]:
df.groupby(['gender'])['age', 'curs'].agg(['min', 'max', 'mean'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

       age                 curs
       min  max       mean  min max      mean
gender
F       25  123  74.000000    2   4  3.000000
M       23   36  27.333333    1   4  2.333333

In [ ]:
df

    student_fio gender  age  curs
st1      Иванов      M   23     1
st2      Петров      M   23     2
st3    Сидорова      F   24     2
st4     Волкова      F   25     4
st5    Сотников      M   36     4

In [ ]:
df.groupby(['curs', 'gender']).age.agg(['min', 'max', 'mean'])

             min  max  mean
curs gender
1    M        23   23  23.0
2    F        24   24  24.0
     M        23   23  23.0
4    F        25   25  25.0
     M        36   36  36.0

### Литература

1. [Маккинли У. Python и анализ данных. $-$ 2-е изд. $-$ М.: ДМК Пресс, 2020. $–$ 540 с.](https://dmkpress.com/catalog/computer/programming/python/978-5-97060-590-5/)
2. [Хейдт М. Изучаем `pandas` / М. Хейдт, А.В. Груздев. $-$ 2-е изд., дополненное. $-$ М.: ДМК Пресс, 2019. $–$ 700 с.  ](https://dmkpress.com/catalog/computer/programming/python/978-5-97060-670-4/)
3. [Абдрахманов М.И. Devpractice Team. Pandas. Работа с данными. 2-е изд. - devpractice.ru. 2020. - 170 с.](https://devpractice.ru/kniga-pandas/)
4. [Прохоренок Н.А. Python 3 и PyQt 5. Разработка приложений. — 2-е изд., перераб. и доп. / Н.А. Прохоренок, В.А. Дронов. — СПб.: БХВ-Петербург, 2018. — 832 с.](https://bhv.ru/product/python-3-i-pyqt-5-razrabotka-prilozhenij-2-izd/)

## Библиотека Numpy

### Работа с библиотекой Numpy

Библиотека `NumPy` (сокращение от Numerical Python — «числовой Python») обеспечивает эффективный интерфейс для хранения и работы массивами. Массивы библиотеки `NumPy` используются во многих других библиотеках языка Python.

Официальный сайт библиотеки [Numpy.](https://numpy.org/)

Возможности:
   - поддержка многомерных массивов (включая матрицы);
   - поддержка высокоуровневых математических функций, предназначенных для работы с многомерными массивами.  
    
Так же массивы `numpy` лежат в основе датафреймов `pandas`, и многие вещи (фильтрация, индексирование, математические операции), которые обсудим здесь, потом транслируются в pandas.

### Стандартные типы данных библиотеки Numpy

Импорт и проверка версии

In [ ]:
import numpy as np
np.__version__

'1.21.6'

Массивы библиотеки NumPy содержат значения простых типов, поэтому важно знать все подробности об этих типах и их ограничениях.

|Тип данных|Описание|
|--:|:--|
|bool_ | Булев тип (True или False), хранящийся в виде 1 байта|
|int_ | Тип целочисленного значения по умолчанию|
|intc | Идентичен типу int языка C|
|intp | Целочисленное значение, используемое для индексов|
|int8 | Байтовый тип (от –128 до 127)|
|int32 | Целое число (от –2 147 483 648 до 2 147 483 647)|
|int64 | Целое число (от –9 223 372 036 854 775 808 до 9 223 372 036 854 775 807)|
|float_ | Сокращение для названия типа float64|
|float16 | Число с плавающей точкой с половинной точностью: 1 бит знак, 5 бит порядок, 10 бит мантисса|
|float32 | Число с плавающей точкой с одинарной точностью: 1 бит знак, 8 бит порядок, 23 бита мантисса|
|float64 | Число с плавающей точкой с удвоенной точностью: 1 бит знак, 11 бит порядок, 52 бита мантисса| 
   
В `numpy` имеются эти типы, которые **используют реализацию типов на C**, например, `int8`, `int16`, `int32`, `int64` (подробнее о типах данных `numpy` можно прочитать [здесь](https://www.numpy.org/devdocs/user/basics.types.html)). За счёт того, что используются типы данных из C, numpy получает ускорение операций.

**Переполнение**

В связи с особенностями типов `numpy` важно помнить о переполнении.   
Например, 64-битный int в С хранит числа от -9223372036854775808 до 9223372036854775807

In [ ]:
print(np.int64(1e10)) # все поместилось

10000000000

In [ ]:
print(np.int64(10e18)) # не поместилось

OverflowError: ignored

In [ ]:
print(10e18) # а в стандартный питоновский integer - помещается

1e+19

### Массивы Ndarray

Основным объектом `numpy` является Ndarray – это n-мерный массив (сокращение от *n-dimensional array*), структура данных, которая позволяет хранить набор элементов одного типа: либо только целые числа, либо числа с плавающей точкой, либо строки, либо булевы (логические) значения. 

Вычисления с массивами гораздо быстрее и эффективнее, чем со списками.

Массивы могут быть одномерными, то есть визуально ничем не отличаться от простого списка значений.

In [ ]:
np.array([0, 2, 3, 4])

array([0, 2, 3, 4])

А могут быть многомерными (n-мерными), то есть представлять собой вложенный список («список списков»):

In [ ]:
x = np.array([[1, 2], 
          [1, 0]])

In [ ]:
x[1][1] # вторая строка, второй столбец

0

Про двумерный массив можно думать как про матрицу или про таблицу. Так, массив во втором примере выше можно рассматривать как таблицу, состояшую из двух строк и двух столбцов, как таблицу $2 \times 2$ (сначала указывается число строк, затем – число столбцов). Отсюда следует важный факт: число элементов в списках внутри массива должно совпадать. Проверим на примере – возьмём списки разной длины, то есть списки, состоящие из разного числа элементов, и объединим их в массив:

In [ ]:
lst = [[0, 0, 1],
         [0, 1]]
lst

[[0, 0, 1], [0, 1]]

In [ ]:
np.array([[0, 0, 1],
         [0, 1]])

array([list([0, 0, 1]), list([0, 1])], dtype=object)

Получилось что-то немного странное. Никакой ошибки Python не выдал, но воспринимать этот объект как полноценный массив он уже не будет: он будет считать, что в такой таблице у нас есть две строки и ноль столбцов!

Теперь давайте посмотрим, что будет, если мы попробуем объединить в массив объекты разных типов, например, целые числа и числа с плавающей точкой:

In [ ]:
np.array([[5, 8.2], 
         [1.2, 1,]])

array([[5. , 8.2],
       [1.2, 1. ]])

In [ ]:
np.array([[5, 8.2], 
         [1.2, 0]])

array([[5. , 8.2],
       [1.2, 0. ]])

Все элементы были автоматически приведены к одному типу (можно считать, что тип *float* «сильнее» типа *integer*). Можете самостоятельно проверить, что будет, если мы «смешаем» в списке строковые и числовые значения.

Чем же удобны массивы? Во-первых, они занимают меньше места и памяти. Во-вторых, с ними очень удобно работать: все операции над массивами будут производиться поэлементно: то есть, для выполнения действий над каждым элементом массива, нам не придется использовать какие-то специальные конструкции вроде циклов, мы сможем обращаться сразу ко всему массиву. Например, давайте представим, что у нас есть массив со значениями явки на выборы в долях, а мы хотим получить результаты в процентах (домноженные на 100).

В отличие от питоновских списков - ndarray - это полноценный вектор. И он поддерживает операции над векторами. Так пример выше - это умножение вектора на скаляр.

In [ ]:
s = [2,1]
s*2

[2, 1, 2, 1]

In [ ]:
v = np.array([0.62, 0.43, 0.79, 0.56])
v

array([0.62, 0.43, 0.79, 0.56])

Чтобы домножить каждое число в массиве на 100, нам достаточно домножить на 100 `v`:

In [ ]:
100 * v

array([62., 43., 79., 56.])

In [ ]:
np.sin(v)

array([0.58103516, 0.4168708 , 0.71035327, 0.5311862 ])

Точно так же можем производить операции с несколькими массивами — действия будут выполняться поэлементно (сложение векторов)

In [ ]:
[2, 3, 5]+[0, 8, 6]

[2, 3, 5, 0, 8, 6]

In [ ]:
# поэлементное сложение векторов
A = np.array([2, 3, 5])
B = np.array([0, 8, 6])

A + B

array([ 2, 11, 11])

In [ ]:
# поэлементное умножение векторов
A * B

array([ 0, 24, 30])

Выполним сразу несколько действий — посчитаем явку на основе массивов с числом действительных и недействительных бюллетеней.

In [ ]:
valid = np.array([32, 45, 50, 44])# действительные бюллетени
invalid = np.array([3, 11, 2, 6]) # недействительные бюллетени
total = np.array([65, 72, 80, 100]) # всего зарегистрированных избирателей

(valid + invalid) / total * 100

array([53.84615385, 77.77777778, 65.        , 50.        ])

### Массивы ndarray и операции с ними

Наиболее важные атрибуты объектов ndarray:
1. **`ndarray.ndim`** - число измерений (чаще их называют "оси") массива.
  
2. **`ndarray.shape`** - размеры массива, его форма. Это кортеж натуральных чисел, показывающий длину массива по каждой оси. Для матрицы из n строк и m столбов, shape будет (n,m). Число элементов кортежа shape равно ndim.
3. **`ndarray.size`** - количество элементов массива. Очевидно, равно произведению всех элементов атрибута shape.
4. **`ndarray.dtype`** - объект, описывающий тип элементов массива. Можно определить dtype, используя стандартные типы данных Python. Можно хранить и numpy типы, например: bool, int16, int32, int64, float16, float32, float64, complex64

Одномерный массив

In [ ]:
M = np.array([[2, 5], 
              [6, 8], 
              [1, 3]])
M

array([[2, 5],
       [6, 8],
       [1, 3]])

In [ ]:
M.dtype

dtype('int64')

Массивы бывают многомерными, значит, у массива есть число измерений. Давайте его найдём:

In [ ]:
M.ndim  # dimensions

2

Действительно, всего два измерения: чтобы указать на число 5 из этого массива, нам понадобятся всего две координаты – номер строки и номер столбца. Теперь посмотрим на форму или вид массива (*shape*):

In [ ]:
M.shape  # 3 строки и 2 столбца, т.е. 3 списка по 2 элемента

(3, 2)

Кроме того, можем найти общее число элементов в массиве, его длину, размер (*size*):

In [ ]:
M.size  # всего 6 элементов

6

#### Работа с элементами массива

Если нам нужно обратиться к элементам массива, то эта операция будет похожа на работу со вложенными списками:

In [ ]:
M

array([[2, 5],
       [6, 8],
       [1, 3]])

In [ ]:
M[0]  # весь первый список в M

array([2, 5])

In [ ]:
M[0][1]  # второй элемент первого списка в M

5

Или не совсем как со списками, без двойных скобок:

In [ ]:
M[0, 1]

5

Ещё можно выбирать сразу несколько элементов массива. Для этого воспользуемся срезами (*slices*):

In [ ]:
M[0:2]  # с элемента с индексом 0 до элемента с индексом 1 включительно

array([[2, 5],
       [6, 8]])

Обратите внимание: правый конец среза не включается.

Концы среза можно опускать, если нас интересуют все элементы, начиная с некоторого элемента и до конца массива или начиная с первого элемента массива и до некоторого элемента (правый конец точно так же включаться не будет):

In [ ]:
M[1:] # с элемента с индексом 1 до конца

array([[6, 8],
       [1, 3]])

In [ ]:
M[:2] # с начала массива до элемента с индексом 1 включительно

array([[2, 5],
       [6, 8]])

Еще можно взять полный срез – выбрать все элементы массива:

In [ ]:
M[:]

array([[2, 5],
       [6, 8],
       [1, 3]])

Кроме того, при выборе элементов можно выставлять шаг. По умолчанию мы выбираем все элементы подряд, шаг равен 1, но это можно изменить:

In [ ]:
M[0:3:2]  # с нулевого по третий через 2

array([[2, 5],
       [1, 3]])

Концы среза по-прежнему можно опускать:

In [ ]:
M[0::2]

array([[2, 5],
       [1, 3]])

Или сделать более интересную вещь, взять отрицательный шаг и выбрать все элементы в обратном порядке, с конца:

In [ ]:
M[::-1]

array([[1, 3],
       [6, 8],
       [2, 5]])

#### Ещё про операции с массивами

Теперь посмотрим на другие операции с массивами. Создадим простой одномерный массив, содержащий оценки группы школьников:

In [ ]:
marks = np.array([5, 4, 3, 5, 5, 4, 3, 4]) 
marks

array([5, 4, 3, 5, 5, 4, 3, 4])

Найдем самую плохую, минимальную оценку:

In [ ]:
marks.min()

3

А теперь самую высокую, максимальную:

In [ ]:
marks.max()

5

И средний балл:

In [ ]:
marks.mean()

4.125

Медиану мы так не найдём — нет метода `median()`, но зато есть такая функция:

In [ ]:
np.median(marks)

4.0

In [ ]:
np.median(marks)

4.0

Перцентили (квантили)

In [ ]:
np.percentile(marks, 25)

3.75

А теперь найдем номер ученика с самой высокой оценкой:

In [ ]:
marks.argmax()

0

И номер ученика с самой низкой оценкой:

In [ ]:
marks.argmin()

2

**Внимание:** если таких несколько, будет выведено первое совпадение, как для `argmin()`, так и для`argmax()`.

Конечно, мы не сможем сейчас рассмотреть все доступные методы, относящиеся к массивам (некоторые часто используемые методы мы еще будем обсуждать в следующем модуле), но при желании на перечень доступных методов можно посмотреть, набрав название массива и поставив точку.

Теперь посмотрим на многомерный массив, для удобства возьмём двумерный:

In [ ]:
grades = np.array([[3, 5, 5, 4, 3], 
                   [3, 3, 4, 3, 3], 
                   [5, 5, 5, 4, 5]])

Пусть это будут оценки трёх студентов 5 контрольных работ. Попробуем теперь найти средний балл за контрольные по каждому группе. Для этого необходимо указать, по какому измерению мы будем двигаться (грубо говоря, по строкам или столбцам):

In [ ]:
grades.mean(axis = 1) # по строкам, три оценки - одна для каждого студента

array([4. , 3.2, 4.8])

Примечание:
- ось 0 (направление вдоль строк) --- называется первой осью массива Numpy. Эта ось проходит вертикально вниз вдоль строк многомерных массивов Numpy, то есть выполняет операции по столбцам.

- ось 1 (направление вдоль столбцов) –-- называется второй осью многомерных массивов Numpy. Она выполняет операции по строкам.

А теперь найдем средний балл по каждой контрольной работе:

In [ ]:
grades.mean(axis = 0) # по столбцам, пять оценки - одна для каждой работы

array([3.66666667, 4.33333333, 4.66666667, 3.66666667, 3.66666667])

Таким же образом можно было посмотреть на минимальное и максимальное значение (можете потренироваться самостоятельно).

#### Создание массивов

##### Как создать массив?

**Способ 1**

С первым способом мы уже отчасти познакомились: можно получить массив из готового списка, воспользовавшись функцией `array()`:

In [ ]:
np.array([10.5, 45, 2.4])

array([10.5, 45. ,  2.4])

**Способ 2**

Можно создать массив на основе промежутка, созданного с помощью `arange()` – функции `numpy`.

In [ ]:
np.arange(2, 9) # по умолчанию шаг равен 1

array([2, 3, 4, 5, 6, 7, 8])

По умолчанию эта функция создает массив, элементы которого начинаются со значения 2 и заканчиваются на значении 8 (правый конец промежутка не включается), следуя друг за другом с шагом 1. Но этот шаг можно менять:

In [ ]:
np.arange(2, 9, 3) # с шагом 3

array([2, 5, 8])

И даже делать дробным!

In [ ]:
np.arange(2, 9, 0.5)

array([2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. , 7.5, 8. ,
       8.5])

Или создать массив из диапазона значений [start, stop] с заданием количества точек.

In [ ]:
m = np.linspace(0, 5, 5)
print(m)

[0.   1.25 2.5  3.75 5.  ]

**Способ 3**

Еще массив можно создать совсем с нуля. Единственное, что нужно четко представлять – это его размерность, его форму, то есть опять же, число строк и столбцов. Библиотека `numpy` позволяет создать массивы, состоящие из нулей или единиц, а также  «пустые» массивы (на практике используются редко). Удобство заключается в том, что сначала можно создать массив, инициализировать его (например, заполнить нулями), а затем заменить нули на другие значения в соответствии с требуемыми условиями.

Так выглядит массив из нулей:

In [ ]:
Z = np.zeros((3, 3, 3)) # размеры в виде кортежа - не теряйте еще одни круглые скобки
Z

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [ ]:
# создание вектора из нулей
v = np.zeros(4)
print(v)

[0. 0. 0. 0.]

А так – массив из единиц:

In [ ]:
O = np.ones((4, 2))
O

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

А так выглядит единичная матрица – таблица из 0 и 1, в которой число строк и столбцов одинаково, и где на главной диагонали стоят 1:

In [ ]:
E = np.eye(5)
E

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

**Способ 4**

Создание массива случайных чисел.

В `numpy` есть аналог модуля `random` - `numpy.random`. Используя типизацию из C, он как и свой аналог генерирует случайные данные.

In [ ]:
np.random.rand(1, 1)

array([[0.15601864]])

In [ ]:
# массив чисел из равномерного (uniform) распределения в диапазоне [0, 1)
# np.random.rand(d0, d1, d3, ...) d0, d1,... - pазмеры возвращаемого массива
np.random.seed(42)
print(np.random.rand(2, 2))
print(np.random.rand(2, 2).shape)

[[0.37454012 0.95071431]
 [0.73199394 0.59865848]]
(2, 2)

In [ ]:
# массив чисел из стандартного нормального (norm) распределения
np.random.randn(2, 3, 2) 
# print(np.random.randn(2, 3, 2).shape)

array([[[ 1.57921282,  0.76743473],
        [-0.46947439,  0.54256004],
        [-0.46341769, -0.46572975]],

       [[ 0.24196227, -1.91328024],
        [-1.72491783, -0.56228753],
        [-1.01283112,  0.31424733]]])

In [ ]:
a = np.array([0,0,0,0,0,0,0,0,0,0,1,1,1,1,1])

### Изменение размерности списков

Вспомним, что у нас есть массив оценок студентов `grades`:

In [ ]:
grades

array([[3, 5, 5, 4, 3],
       [3, 3, 4, 3, 3],
       [5, 5, 5, 4, 5]])

Как поменять структуру массива так, чтобы, например, оценки были записаны группами по три оценки? Воспользоваться методом `.reshape()`, который позволяет поменять форму массива.

In [ ]:
grades.reshape(5, 3)

array([[3, 5, 5],
       [4, 3, 3],
       [3, 4, 3],
       [3, 5, 5],
       [5, 4, 5]])

Теперь массив двумерный, и чтобы обратиться к элементу массива, нам нужно указывать две вещи: индекс списка и индекс элемента в этом списке. Метод `.reshape()` удобен, но при его использовании стоит помнить, что не любой массив можно превратить в массив другой формы – общее число элементов в массиве должно позволять получить новое число списков и элементов в них. Так, массив `grades`, в котором всего 15 элементов, нельзя превратить в массив вида `(2, 8)` (таблица $2 \times 8$), потому что для такой формы понадобится 16 элементов! И Python явно об этом сообщит:

In [ ]:
grades.reshape(2, 8)

ValueError: cannot reshape array of size 15 into shape (2,8)

Если нам нужно просто поменять местами строки и столбцы в таблице, то есть списки в массиве, можно воспользоваться транспонированием, которое осуществляется в `NumPy` с помощью метода `.transpose()`:

In [ ]:
grades.transpose()

array([[3, 3, 5],
       [5, 3, 5],
       [5, 4, 5],
       [4, 3, 4],
       [3, 3, 5]])

Кроме того, в противоположность `.reshape()`, который часто используется для разбиения одномерного массива на многомерный из нескольких маленьких списков, в `NumPy` существует «обратный» метод `.ravel()`, который позволяет любой многомерный массив превратить в одномерный, состоящий из одного списка, другими словами, сделать массив «плоским»:

In [ ]:
grades.ravel()

array([3, 5, 5, 4, 3, 3, 3, 4, 3, 3, 5, 5, 5, 4, 5])

In [ ]:
grades.flatten()

array([3, 5, 5, 4, 3, 3, 3, 4, 3, 3, 5, 5, 5, 4, 5])

*Примечание:* в `NumPy` есть ещё другой метод для создания «плоских» массивов – `flatten()`.

### Проверка условий на массивах

Давайте посмотрим, каким образом можно проверять условия на массивах и отбирать элементы по условию. Создадим массив со значениями возраста:

In [ ]:
ages = np.array([[15, 23, 32, 45, 52], 
               [68, 34, 55, 78, 20], 
               [25, 67, 33, 45, 14]])

Давайте попробуем узнать, какие значения массива соответствуют людям трудоспособного возраста: от 16 лет и старше:

In [ ]:
ages >= 16  # больше или равно

array([[False,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False]])

Все элементы, кроме первого в первом списке и кроме последнего в последнем списке: на всех позициях, кроме указанных, стоят значения `True`, что означает, что условие выполняется. То, что мы получили сейчас – это булев массив, массив, состоящий из булевых (логических) значений, значений `True` и `False`. 

Теперь попробуем сформулировать более сложное условие: проверим, какие элементы соответствуют людям старше 18, но младше 60 лет:

In [ ]:
(ages > 18) & (ages < 60) # & - одновременное условие

array([[False,  True,  True,  True,  True],
       [False,  True,  True, False,  True],
       [ True, False,  True,  True, False]])

Как посчитать, сколько элементов массива удовлетворяют некоторым условиям?

Суммируем значения по всему массиву: Python понимает, что значение `True` – это 1, а `False` – это 0, поэтому нет необходимости превращать все значения в числовые, мы можем просто сложить все «единички»:

In [ ]:
((ages > 18) & (ages < 60)).sum()

10

А теперь проверим, какие значения соответствуют людям либо младше 18, либо старше 60:

In [ ]:
(ages < 18) | (ages > 60)  # | - или - хотя бы одно условие верно

array([[ True, False, False, False, False],
       [ True, False, False,  True, False],
       [False,  True, False, False,  True]])

А как увидеть сами значения, которые удовлетворяют определенным условиям? Заключить условие в квадратные скобочки:

In [ ]:
ages[ages >= 16]

array([23, 32, 45, 52, 68, 34, 55, 78, 20, 25, 67, 33, 45])

In [ ]:
ages[(ages >= 16) & (ages < 60)]

array([23, 32, 45, 52, 34, 55, 20, 25, 33, 45])

Внимание: не забудьте круглые скобки для каждого условия, иначе Python поймёт всё неправильно и вернёт ошибку:

In [ ]:
ages[ages >= 16 & ages < 60]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

Запишем массив `ages` в файл формата `.npy`: сначала укажем название файла, а затем – сам массив, который сохраняем.

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
np.save("ages.npy", ages)

Теперь этот файл можно увидеть во вкладке *Home* в Jupyter Notebook, в рабочей папке. Попробуем выполнить обратную операцию: считаем массив из numpy-файла:

In [ ]:
np.load("ages.npy")

array([[15, 23, 32, 45, 52],
       [68, 34, 55, 78, 20],
       [25, 67, 33, 45, 14]])

Выгружать списки можно в разные форматы. Например, можно просто сохранить массив в текстовый файл с расширением `.txt`:

In [ ]:
np.savetxt("ages.txt", ages)

И аналогичным образом считать:

In [ ]:
np.loadtxt("ages.txt")

array([[15., 23., 32., 45., 52.],
       [68., 34., 55., 78., 20.],
       [25., 67., 33., 45., 14.]])

Если нет необходимости работать с файлами, можем просто превратить массив в другой объект Python. Например, в обычный список:

In [ ]:
ages.tolist()

[[15, 23, 32, 45, 52], [68, 34, 55, 78, 20], [25, 67, 33, 45, 14]]

Или строку:

In [ ]:
np.array2string(ages)

'[[15 23 32 45 52]\n [68 34 55 78 20]\n [25 67 33 45 14]]'

### Операции с векторами и матрицами в нампай

#### Скалярное произведение векторов

In [ ]:
a = np.array([3, 1, 5, 2])
b = np.array([2, 5, 2, 4])
# <a, b> = 3*1 + 1*5 + 5*2 + 2*4
print(a @ b)    
print(a.dot(b)) 
print(np.dot(a, b))

29
29
29

In [ ]:
a = np.array([3, 1, 5, 2])
b = np.array([2, 5, 2, 4, 4])
print(a @ b)

ValueError: ignored

#### Умножение матриц
  
Операция умножения определена для двух матриц, таких что число столбцов первой равно числу строк второй. 

Пусть матрицы $A$ и $B$ таковы, что $A \in \mathbb{R}^{n \times k}$ и $B \in \mathbb{R}^{k \times m}$.    
__Произведением__ матриц $A$ и $B$ называется матрица $C$, такая что 
$$c_{ij} = \sum_{r=1}^{k} a_{ir}b_{rj}$$, 
где  $c_{ij}$ — элемент матрицы $C$, стоящий на пересечении строки с номером $i$ и столбца с номером $j$.

In [ ]:
a = np.array([[1, 2], [2, 0]])
b = np.array([[2,5], [1, 3]])
# print(a)
# print(b)
print(a @ b)    
print(a.dot(b)) 
print(np.dot(a, b))

[[ 4 11]
 [ 4 10]]
[[ 4 11]
 [ 4 10]]
[[ 4 11]
 [ 4 10]]

In [ ]:
a = np.array([[1, 2], [2, 0]])
b = np.array([1, 2])
print(a @ b)

[5 2]

**!!!Не путайте поокординатное умножение с матричным!!!**

In [ ]:
print(a * b)

[[ 2 10]
 [ 2  0]]

#### Умножение матриц и векторов

In [ ]:
m = np.array([[1, 2], [0, 1], [2, 4]])
print(m)
v = np.array([2, 5])
print("v = ",v)
m @ v

[[1 2]
 [0 1]
 [2 4]]
v =  [2 5]

array([12,  5, 24])

### Полезные фукнции и методы для работы с массивами

In [ ]:
a = np.random.choice(a=np.linspace(1, 50, 50), size=10, replace=True)
print(a)

[15.  4. 39. 34. 18. 49. 28.  8. 11. 16.]

**1. Замена элементов по индексу**

In [ ]:
np.put(a, ind=[0, 2], v=[-44, -55])
a

array([-44.,   4., -55.,  34.,  18.,  49.,  28.,   8.,  11.,  16.])

**2. Выделение массива по условию**

In [ ]:
# замена элементов массива по условию: a if a < 0 else 0
np.where(a < 0, a, 0)

array([-44.,   0., -55.,   0.,   0.,   0.,   0.,   0.,   0.,   0.])

In [ ]:
# выбор элементов по условию
a[np.where(a < 0)]

array([-44., -55.])

**3. Сортировка**

In [ ]:
# сортировка
np.sort(a)

array([-55., -44.,   4.,   8.,  11.,  16.,  18.,  28.,  34.,  49.])

In [ ]:
# индексы сортированного списка
np.argsort(a)

array([2, 0, 1, 7, 8, 9, 4, 6, 3, 5])

**4. Any и All для сложных логических условий**

`Any` возвращает True, если хотя бы один элемент `True`   
`All` возвращает True, если все эедементы `True`

In [ ]:
any([True, True, False, True, False, False, False])

True

In [ ]:
all([True, True, False, True, False, False, False])

False

In [ ]:
# сравнение векторов
np.array([1, 1, 0, 0]) == np.array([1, 1, 0, 2])

array([ True,  True,  True, False])

In [ ]:
all(np.array([1, 1, 0, 0]) == np.array([1, 1, 0, 2]))

False

In [ ]:
any(np.array([1, 1, 0, 0]) == np.array([1, 1, 0, 2]))

True

## Библиотека SciKit-Learn

### Работа с библиотекой SciKit-Learn

Scikit-learn — библиотека машинного обучения на языке программирования Python с открытым исходным кодом.

Официальный сайт библиотеки [Scikit-learn](https://scikit-learn.org/stable/)

### Какие задачи решает библиотека

- Препроцессинг. Термин «препроцессинг» (preprocessing) означает предварительную обработку данных. Они приводятся к виду, необходимому для подачи на вход какому-либо алгоритму. Например, изображения подгоняются под один размер и цветовую схему. Из данных извлекаются ключевые признаки, по которым будет обучаться модель, и также приводятся к нужному формату.

- Уменьшение размерности. Часто в данных содержится избыточная информация. Например, некоторые признаки можно получить из каких-либо других. Чтобы сделать дальнейший анализ эффективнее, размерность выборки уменьшают — так, чтобы сохранить максимум полезных данных. Для этого используются специальные методы, например метод главных компонент.

- Обнаружение аномалий. Алгоритмы «отсекают» из набора данных ошибочные или странные записи, которые только добавляют в результат лишние погрешности. Это нужно, чтобы анализ и обучение работали точнее.

- Выбор датасета. Если необходимо познакомиться с библиотекой, можно воспользоваться одним из готовых учебных наборов. Они тоже есть в библиотеке.

- Выбор модели. Функции и алгоритмы помогают оценить эффективность разных моделей для решения задачи. Их можно сравнивать друг с другом, проводить валидацию результатов, выбирать более точные. Это нужно для улучшения качества обучения.

- Регрессия. Это прогнозирование показателей по уже имеющимся данным, которые могут принимать бесконечное количество разных значений. Эти показатели должны быть связаны с каким-либо объектом, т.е. быть его атрибутами. Например, прогноз числа пользователей на сайте в разные дни — это задача регрессии.

- Классификация. Классификация — прогнозирование показателя с конечным количеством значений. Более простое определение — прогнозирование категории, к которой относится объект. Распознавание жанра текста или объектов на картинке — это задачи классификации.

- Кластеризация. Это распределение данных из датасета по большим группам — кластерам, т. е. их группировка. Похожие объекты объединяются в классы. Критерии, по которым определяется схожесть, зависят от модели и условий задачи.

Общая схема работы с инструментами библиотеки

- Использование этой библиотеки обычно начинается с разделения набора данных на обучающий и тестовый наборы. Вот как вы можете разделить свои данные:
```python
from sklearn.model_selection import train_test_split
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
```
- Затем нам нужно обработать данные, чтобы они соответствовали модели машинного обучения. Здесь нам обычно нужно масштабировать данные, что можно сделать с помощью стандартизации и нормализации. Ниже приведен способ обработки данных scikit-learn:
```python
scaler = StandardScaler()
X_train_st = scaler.fit_transform(X_train)
X_test_st = scaler.transform(X_test)
```

- В качестве следующего шага нам нужно подогнать данные к модели. Ниже представлена реализация обучения некоторых из алгоритмов машинного обучения:
```python
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn import neighbors
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
lr = LinearRegression(normalize=True)
lr.fit(x_train, y_train)
knn = neighbors.KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
svc = SVC(kernel='linear')
svc.fit(x_train, y_train)
k_means = KMeans(n_clusters=3, random_state=0)
k_means.fit(x_train)
pca = PCA(n_components=0.95)
pca.fit_transform(x_train)
```

- Следующий шаг – сделать прогнозы на тестовой выборке:
```python
 y_pred = lr.predict(x_test)
 ypred = k_means.predict(x_test)
 y_pred = knn.predict_proba(x_test) 
```

- Последний шаг – определить, как модель машинного обучения работала на тестовой выборке. Ниже приведен метод, предоставляемый библиотекой Scikit-learn для оценки производительности моделей машинного обучения для задач классификации, регрессии и кластеризации:
```python
# Classification
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)
# Regression
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)
# Clustering
from sklearn.metrics import adjusted_rand_score
adjusted_rand_score(y_test,y_pred)
```

## Библиотека Scipy

### Работа с библиотекой Scipy

SciPy — это библиотека Python с открытым исходным кодом, предназначенная для решения научных и математических проблем. Она построена на базе NumPy и позволяет управлять данными, а также визуализировать их с помощью разных высокоуровневых команд. Если вы импортируете SciPy, то NumPy отдельно импортировать не нужно.

В SciPy есть набор пакетов для разных научных вычислений:

|Название|Описание|
|--:|:--|
|cluster | Алгоритмы кластерного анализа|
|constants | Физические и математические константы|
|fftpack | Быстрое преобразование Фурье|
|integrate | Решения интегральных и обычных дифференциальных уравнений|
|interpolate | Интерполяция и сглаживание сплайнов|
|io | Ввод и вывод|
|linalg | Линейная алгебра|
|ndimage | N-размерная обработка изображений|
|odr | Метод ортогональных расстояний|
|optimize | Оптимизация и численное решение уравнений|
|signal | Обработка сигналов|
|sparse | Разреженные матрицы|
|spatial | Разреженные структуры данных и алгоритмы|
|special | Специальные функции|
|stats | Статистические распределения и функции|

# Обязательные домашние задания

## Домашнее задание 1

### Исходные данные

В словаре `dict_users_network` заданы взаимосвязи (`дружба`) пользователей социальной сети, где `ключ` -- имя пользователя; `значение` -- список друзей пользователя. Для простоты будем считать, что оношение `дружба` не является биективным, т.е. если у `A` другом является `B`, то не обязательно, что у `B` в друзьях `A`. 

### Задание (обязательное) 
- Создайте функцию, определяющую количество друзей у выбранного (каждого) пользователя.
- Создайте функцию, выводящую на экран пользователей, отсортированных по количеству друзей.
- Опубликуйте ссылку на файл расширения `ipynb`, прикрепив его в этом задании.

### Задание (факультативное)
- Создайте функцию, определяющую наличие однофамильцев.
- Создайте функцию, определяющую наличие пользователей с одинаковыми инициалами.
- Создайте функцию, возвращающую список уникальных пользователей сети в формате `Фамилия И.О.`.
- Создайте функцию, возвращающую список из уникальных фамилий  пользователей сети.

In [ ]:
dict_users_network = ({
    'С.В. Сидоров' : ['П.В. Сидоров', 'И.И. Иванов', 'А.С. Никифоров', 
                      'Ф.С. Афеногонов', 'А.К. Парфенов', 'А.В. Сидоров'],
    'П.В. Сидоров' : ['С.В. Сидоров', 'А.С. Шебалова', 'М.Л. Кривов'],
    'И.И. Иванов' : ['Л.Т. Тимофеев', 'С.В. Сидоров', 'П.В. Сидоров', 
                     'М.Л. Кривов'],
    'А.С. Никифоров' : ['С.В. Сидоров', 'П.В. Сидоров'],                 
    'Ф.С. Афеногонов' : ['С.В. Сидоров', 'П.В. Сидоров', 'А.К. Парфенов'],
    'А.С. Шебалова' : ['Л.Т. Тимофеев'],
    'Л.Т. Тимофеев' : ['К.К. Петров', 'А.С. Крылов']
                     })

#### Создайте функцию, определяющую количество друзей у выбранного (каждого) пользователя

In [ ]:
#код требуемой функции 
def find_users(dict_users, *user):
    for i in user:
        print("У пользователя {} количество друзей равно {}.".format(i, len(dict_users[i])))

Комментарии к созданной функции:

Строка кода
```python
def find_users(dict_users, *user):
```
- `find_users` - имя функции;
- `dict_users`, `*user` - аргументы функции. Первый аргумент `dict_users` соответствует исходному словарю с данными. Второй аргумент `*user` соответствует пользователю (списку пользователей), для которого нужно посчитать количество друзей. Поскольку в общем случае может быть задано несколько пользователей, т.е здесь мы не знаем точно числа аргументов функции, то перед `user` поставлена `*`. Подробно можно посмотреть в **теме 2.3.**

Строка кода
```python
for i in user:
        print("У пользователя {} количество друзей равно {}.".format(i, len(dict_users[i])))
```
Здесь в цикле `for` последовательно перебираются пользоваnели из `user` и с помощью метода `print()` печатается некоторая информация. О форматировании строки вывода можно почитать в **теме 2.2** пункт **Форматирование строк (string formatting)**. Подсчет количества друзей ведется с помощью метода `len()`, который в качестве параметра принимает значение `dict_users[i]` соответствующего ключа. Доступ к значению организован по ключу `i`.

In [ ]:
##подсчет количества друзей у каждого пользователя 
find_users(dict_users_network, *dict_users_network.keys())

У пользователя С.В. Сидоров количество друзей равно 5.
У пользователя П.В. Сидоров количество друзей равно 3.
У пользователя И.И. Иванов количество друзей равно 4.
У пользователя А.С. Никифоров количество друзей равно 2.
У пользователя Ф.С. Афеногонов количество друзей равно 3.
У пользователя А.С. Шебалова количество друзей равно 1.
У пользователя Л.Т. Тимофеев количество друзей равно 2.

In [ ]:
##подсчет количества друзей у выбранных пользователей 
find_users(dict_users_network, 'С.В. Сидоров', 'И.И. Иванов')

У пользователя С.В. Сидоров количество друзей равно 5.
У пользователя И.И. Иванов количество друзей равно 4.

#### Создайте функцию, выводящую на экран пользователей, отсортированных по количеству друзей.

In [ ]:
##код требуемой функции 
def sort_list_user(dict_users):
    lst_tmp = list()
    for key in dict_users.keys():
        lst_tmp.append((len(dict_users_network[key]), key))
    print("Список пользователей, отсортированных по количеству друзей:")
    for tpl in sorted(lst_tmp, reverse = True):
        print("     пользователь {}. Количество друзей - {}.".format(tpl[1], tpl[0]))

Комментарии к созданной функции

Строка кода
```python
def sort_list_user(dict_users):
```
Задание сигнатуры функции с одним аргументом, соответствующим словарю с исходными данными.

Строка кода
```python
lst_tmp = list()
```
Создание временной структуры (списка) для хранения промежуточных результатов. 

Строка кода
```python
for key in dict_users.keys():
    lst_tmp.append((len(dict_users_network[key]), key))
```
С помощью цикла `for` перебираются ключи словаря `dict_users.keys()`. По ключу формируется доступ к его значениям `dict_users_network[key]` -- это список друзей и с помощью метода `len()` считается их количество `dict_users_network[key])`. Во временный список с помощью метода `.append()` добавляется кортеж `(len(dict_users_network[key]), key)`, содержащий количество друзей `len(dict_users_network[key])` и пользователя сети `key`, соответственно.           

Строка кода
```python
print("Список пользователей, отсортированных по количеству друзей:")
for tpl in sorted(lst_tmp, reverse = True):
    print("     пользователь {}. Количество друзей - {}.".format(tpl[1], tpl[0]))
```
С помощью метода `sorted()` с указанием дополнительного ключа `reverse = True` (сортировка по убыванию) осуществляется сортировка по убыванию полученного списка из кортежей. Результат сортировки перебирается с помощью цикла `for` и выводится с добавлением элементов форматирования строки.

In [ ]:
sort_list_user(dict_users_network)

Список пользователей, отсортированных по количеству друзей:
     пользователь С.В. Сидоров. Количество друзей - 5.
     пользователь И.И. Иванов. Количество друзей - 4.
     пользователь Ф.С. Афеногонов. Количество друзей - 3.
     пользователь П.В. Сидоров. Количество друзей - 3.
     пользователь Л.Т. Тимофеев. Количество друзей - 2.
     пользователь А.С. Никифоров. Количество друзей - 2.
     пользователь А.С. Шебалова. Количество друзей - 1.

#### Создайте функцию, определяющую наличие однофамильцев

In [ ]:
def find_homonym(dict_users):
    st_tmp = set()
    dct_tmp = dict() 
    for key in dict_users.keys():
        for val in dict_users[key]:
            st_tmp.add(val.strip())
    for user in st_tmp:
        name, last_name =  user.split()
        lst_tmp = list()  
        for d_user in st_tmp.difference(set(user)):
            d_name, d_last_name =  d_user.split()
            if (d_name != name) & (last_name == d_last_name):
                lst_tmp.append(d_user.strip())
        dct_tmp[user] = lst_tmp
    for user in dct_tmp.keys():
        if len(dct_tmp[user])>0:
            print('У пользователя {} однофамильцы {}.'.format(user, ', '.join(dct_tmp[user])))
        else:
            print('У пользователя {} однофамильцев нет.'.format(user))

In [ ]:
find_homonym(dict_users_network)

У пользователя И.И. Иванов однофамильцев нет.
У пользователя Л.Т. Тимофеев однофамильцев нет.
У пользователя П.В. Сидоров однофамильцы С.В. Сидоров, А.В. Сидоров.
У пользователя А.С. Крылов однофамильцев нет.
У пользователя С.В. Сидоров однофамильцы П.В. Сидоров, А.В. Сидоров.
У пользователя А.С. Никифоров однофамильцев нет.
У пользователя К.К. Петров однофамильцев нет.
У пользователя А.В. Сидоров однофамильцы П.В. Сидоров, С.В. Сидоров.
У пользователя М.Л. Кривов однофамильцев нет.
У пользователя Ф.С. Афеногонов однофамильцев нет.
У пользователя А.С. Шебалова однофамильцев нет.
У пользователя А.К. Парфенов однофамильцев нет.

### Создайте функцию, возвращающую список уникальных пользователей сети в формате Фамилия И.О..

In [ ]:
dict_users_network

{'А.С. Никифоров': ['С.В. Сидоров', 'П.В. Сидоров'],
 'А.С. Шебалова': ['Л.Т. Тимофеев'],
 'И.И. Иванов': ['Л.Т. Тимофеев',
  'С.В. Сидоров',
  'П.В. Сидоров',
  'М.Л. Кривов'],
 'Л.Т. Тимофеев': ['К.К. Петров', 'А.С. Крылов'],
 'П.В. Сидоров': ['С.В. Сидоров', 'А.С. Шебалова', 'М.Л. Кривов'],
 'С.В. Сидоров': ['П.В. Сидоров',
  'И.И. Иванов',
  'А.С. Никифоров',
  'Ф.С. Афеногонов',
  'А.К. Парфенов',
  'А.В. Сидоров'],
 'Ф.С. Афеногонов': ['С.В. Сидоров', 'П.В. Сидоров', 'А.К. Парфенов']}

In [ ]:
def swap_fio(disc_user):
    lst_tmp = list()
    lst_itog = list()
    st_tmp = set()
    for key in disc_user.keys():
        st_tmp.add(key)
        for user in disc_user[key]:
            lst_tmp.append(user)
            st_tmp.add(user)
    for d_user in st_tmp:
        name, last_name = d_user.split()
        lst_itog.append(' '.join([last_name, name]))
    return lst_itog

In [ ]:
swap_fio(dict_users_network)

['Крылов А.С.',
 'Шебалова А.С.',
 'Сидоров С.В.',
 'Тимофеев Л.Т.',
 'Кривов М.Л.',
 'Никифоров А.С.',
 'Сидоров А.В.',
 'Сидоров П.В.',
 'Афеногонов Ф.С.',
 'Иванов И.И.',
 'Петров К.К.',
 'Парфенов А.К.']

In [ ]:
#сбор всех пользователей
#keys(), values(), items() 
lst_tmp = list()
lst_itog = list()

st_tmp = set()
for key in dict_users_network.keys():
    st_tmp.add(key)
    for user in dict_users_network[key]:
        lst_tmp.append(user)
        st_tmp.add(user)

# for d_user in st_tmp:
#     name = d_user[:4]
#     last_name = d_user[5:]
#     print(last_name + ' ' +  name) 

for d_user in st_tmp:
    name, last_name = d_user.split()
    lst_itog.append(' '.join([last_name, name]))
lst_itog

['Крылов А.С.',
 'Шебалова А.С.',
 'Сидоров С.В.',
 'Тимофеев Л.Т.',
 'Кривов М.Л.',
 'Никифоров А.С.',
 'Сидоров А.В.',
 'Сидоров П.В.',
 'Афеногонов Ф.С.',
 'Иванов И.И.',
 'Петров К.К.',
 'Парфенов А.К.']